@import "compass_reset";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
*/


body{
	overflow-x:hidden;
}

*:focus {
    outline: none;
}

/*USEFUL FOR CODING*/
.borderR{
	border:1px solid red;
}

/**********************************/
/* SETUP */
/**********************************/

//COLORS
$super-light-grey2:#FCFCFC;
$super-light-grey: #F9F9F9;
$light-grey:#D3D3D3;
$medium-grey:#707070;
$dark_grey:#282E36;
$sub_medium_grey:#666666;

$dark_blue:#00446C;
$wolf-blue:#016099;
$medium-blue:#4EB2DD;
$light-electric-blue:#A7E4EA;



//TYPOS
.title_level_1{
	font-family: 'EB Garamond', serif;
	font-weight:600;
	color:$wolf-blue;
	font-size:3.8em;
}

.text_montserrat{
	font-family: 'Montserrat', sans-serif;
	color:$medium-grey;
	font-size:1em;
	font-weight:300;
}

.title_subcategory{
	color:$light-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.8em;
	font-weight:400;
}

.title_name{
	color:$wolf-blue;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5em;
	font-weight:700;
}

.title_zone{
	font-family: 'EB Garamond', serif;
	font-weight:700;
	color:$medium-grey;
	font-size:2em;
}

.title_zone::before{
	content: '';
    height: 5px;
    width: 25px;
    background-color: #A7E4EA;
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: -36px;
}


.text_description{
	color:$medium-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.9em;
	font-weight:400;
}


.liens_text{
	color:$medium-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.9em;
	font-weight:600;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.liens_text:hover{
	color:$wolf-blue;
	text-decoration:none;
}



//NAVIGATION
.content_header{
	display:none;
}



.content_header_scroll{
	display:none;
}


.sub_menu{
	display:none;
}


//MENU MOBILE

.content-menu-mobile{
	position:fixed;
	top:10px;
	z-index: 99;
	background-color:none;
	height:100px;
	width:100%;
	opacity:100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	img{
		margin-top: 31px;
	    margin-left: 33px;
	    width: 100px;
	    -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	svg{
		margin-top: 18px;
		fill:#2384c4;
	}
	.menuBtn {
		height: 30px;
	    width: 30px;
	    position: absolute;
	    right: 32px!important;
	    top: 35px;
	    z-index: 101;
	     -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

		> span {
			background-color: $dark-grey;
			border-radius: 1px;
			height: 3px;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -1px 0 0 -30px;
			transition: height 100ms;
			&:after, &:before {
				content: '';
				background-color: $dark-grey;
				border-radius: 1px;
				height: 3px;
				width: 100%;
				position: absolute;
				left: 50%;
				margin-left: -15px;
				transition: all 200ms;
			}
			&:after {
				top: -10px;
			}
			&:before {
				bottom: -10px;
			}
		}
		&.act {
			> span {
				height: 0;
				&:after, &:before {
					background-color: $dark-grey;
					top: 1px;
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}
		}
	}

	.mainMenuMobile {
		background-color: #fff;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		height: 100%;
		width: 100%;
		display: table;
		text-align: center;
		opacity: 0;
		transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transform: scale(0);
		&.act {
			opacity: 1;
			transform: scale(1);
			ul li {
			opacity: 1;
			transform: translateX(0);
		}
		}
		ul {
			display: table-cell;
			vertical-align: middle;
		}
		li {
			padding: 8px 0;
			transition: all 400ms 510ms;
			opacity: 0;
			&:nth-child(odd) {
				transform: translateX(30%);
			}
			&:nth-child(even) {
				transform: translateX(-30%);
			}
			&:last-child {
				transform: none;
			}
		}
		a {
			color: $wolf-blue;
			display: inline-block;
			font-size: 1.3em;
			font-family: 'EB Garamond', serif;
			font-weight:800;
			&.suBtn {
				color: black;
			}
		}

		a:active{
			color: $wolf-blue;
			display: inline-block;
			font-size: 1.3em;
			font-family: 'EB Garamond', serif;
			font-weight:500;
			text-decoration: none;
		}

		a:visited{
			text-decoration: none;
		}
	}

	.mainMenuMobile::before {
		content: '';
	    display: block;
	    height: 2px;
	    width: 24%;
	    position: absolute;
	    top: 150px;
	    left: 38%;
		background-color:$light-electric-blue;
	}
}




.content-menu-mobile_scroll{
	position:fixed;
	top:0;
	top:0;
	z-index: 99;
	background-color:white;
	height:65px;
	width:100%;
	box-shadow: 1px 5px 20px 9px rgba(0,0,0,0.06);
	opacity:100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	img{
		margin-top: 13px;
    	margin-left: 14px;
	    width: 85px;
	    -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	svg{
		margin-top: 18px;
		fill:#2384c4;
	}

	.menuBtn {
		height: 30px;
		width: 30px;

		position: absolute;
		right: 13px;
		top: 19px;
		z-index: 101;
		 -webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;

		> span {
			background-color: $dark-grey;
			border-radius: 1px;
			height: 3px;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -1px 0 0 -30px;
			transition: height 100ms;
			&:after, &:before {
				content: '';
				background-color: $dark-grey;
				border-radius: 1px;
				height: 3px;
				width: 100%;
				position: absolute;
				left: 50%;
				margin-left: -15px;
				transition: all 200ms;
			}
			&:after {
				top: -10px;
			}
			&:before {
				bottom: -10px;
			}
		}
		&.act {
			> span {
				height: 0;
				&:after, &:before {
					background-color: $dark-grey;
					top: 1px;
				}
				&:after {
					transform: rotate(45deg);
				}
				&:before {
					transform: rotate(-45deg);
				}
			}
		}
	}
.mainMenuMobile {
		background-color: #fff;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
		height: 100%;
		width: 100%;
		display: table;
		text-align: center;
		opacity: 0;
		transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transform: scale(0);
		&.act {
			opacity: 1;
			transform: scale(1);
			ul li {
			opacity: 1;
			transform: translateX(0);
		}
		}
		ul {
			display: table-cell;
			vertical-align: middle;
		}
		li {
			padding: 8px 0;
			transition: all 400ms 510ms;
			opacity: 0;
			&:nth-child(odd) {
				transform: translateX(30%);
			}
			&:nth-child(even) {
				transform: translateX(-30%);
			}
			&:last-child {
				transform: none;
			}
		}
		a {
			color: $wolf-blue;
			display: inline-block;
			font-size: 1.3em;
			font-family: 'EB Garamond', serif;
			font-weight:800;
			&.suBtn {
				color: black;
			}
		}

		a:active{
			color: $wolf-blue;
			display: inline-block;
			font-size: 1.3em;
			font-family: 'EB Garamond', serif;
			font-weight:500;
			text-decoration: none;
		}

		a:visited{
			text-decoration: none;
		}
	}

	.mainMenuMobile::before {
		content: '';
	    display: block;
	    height: 2px;
	    width: 24%;
	    position: absolute;
	    top: 150px;
	    left: 38%;
		background-color:$light-electric-blue;
	}
}




//FOOTER

footer{

	padding-top:80px;
	padding-bottom:25px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	background-color:$super-light-grey2;


	.title_level_1{
		font-size:1.4em;
		color:$medium_grey;
	}

	.title_level_1::after{
		content: '';
	    display: block;
	    height: 11px;
	    width: 63px;
	    background-color: #A7E4EA;
	    margin-top: -10px;
	    margin-left: 29px;
	}

	.liens_sociaux{
		outline:none;
		border:none;

		svg{
			width:30px;
			margin-bottom:22px;

			path{
				fill:$light-electric-blue;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
			  	-o-transition: all 0.3s;
				transition: all 0.3s;
			}
		}

	}

	.liens_sociaux:hover svg path{
		fill:$wolf-blue;
	}

	.adresses{
		.title_name{
			color:$medium-grey;
			font-size:0.9em;
			margin-bottom:0px!important;
		}

		.title_name::before{
			content: '';
		    display: block;
		    height: 3px;
		    width: 14px;
		    position: absolute;
		    background-color: #A7E4EA;
		    z-index: 0;
		    margin-left: -22px;
		    margin-top: 9px;
		}
	}

	.liens_pages{
		.title_level_1{
			margin-top:40px;
			margin-bottom:20px!important;
		}

		ul{
			margin-left:30px;

			li{
				margin-bottom:15px;
			}
		}
	}

	.trait_gris_clair{
		display:block;
		height:1px;
		width:100%;
		margin-top:40px;
		background-color:$light-grey;
		margin-bottom:30px;
	}

	.subfooter{
		.text_description{
			font-size:0.7em;
			font-weight:500;
		}

		a{
			color:$medium-grey;
			font-family: 'Montserrat', sans-serif;
			font-size:0.7em;
			font-weight:500;
			float:right;
		}
	}
}


//BUTTONS

.btn_dark_grey{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
	border:solid $medium-grey 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	position:relative;
	font-size:0.9em;
	color:$medium-grey;
	z-index:1;
	padding: 12px 20px 12px 20px;

	svg{
		width:8px;
		margin-left:20px;
		stroke:$medium-grey;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	  	-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.btn_dark_grey:hover{
	color:white;
	text-decoration:none;

	svg{
		stroke:white;
	}
}

.btn_dark_grey::after {
  background: $medium-grey;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 104%;
  left: -1px;
  top: -1px;
  width: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_dark_grey:hover:after{
  width: 101%;
}


.btn_white{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
	border:solid white 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	position:relative;
	font-size:0.9em;
	color:white;
	z-index:1;
	padding: 12px 20px 12px 20px;

	svg{
		width:8px;
		margin-left:20px;
		stroke:white;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	  	-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.btn_white:hover{
	color:$wolf-blue;
	text-decoration:none;

	svg{
		stroke:$wolf-blue;
	}
}

.btn_white::after {
  background: #fff;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 103%;
  left: -1px;
  top: -1px;
  width: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_white:hover:after{
  width: 101%;
}


.btn_medium_blue{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
	border:solid $medium-blue 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	position:relative;
	font-size:0.9em;
	color:$medium-blue;
	z-index:1;
	padding: 12px 20px 12px 20px;

	svg{
		width:8px;
		margin-left:20px;
		stroke:$medium-blue;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	  	-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.btn_medium_blue:hover{
	color:$wolf-blue;
	text-decoration:none;

	svg{
		stroke:$wolf-blue;
	}
}

.btn_medium_blue::after {
  background: $medium-blue;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_medium_blue:hover:after{
  width: 100%;
}

/**********************************/
/* EVERYWHERE ON THE SITE */
/**********************************/

.lets_create_something{
	h2{
		font-family: 'EB Garamond', serif;
		font-size:1.5em;
		font-weight:700;
		color:$medium-grey;
		margin-top: 80px;
    	margin-bottom: 20px;
	}

	h2::before{
		content: '';
	    height: 4px;
	    width: 18px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 12px;
	    margin-left: -30px;
	}
}

.lets_create_something_light_blue{
	background-color:$light-electric-blue;
	padding-bottom:50px;

	h2{
		font-family: 'EB Garamond', serif;
		font-size:1.5em;
		font-weight:700;
		color:white;
		margin-top: 60px;
    	margin-bottom: 35px;
	}

	h2::before{
		content: '';
	    height: 4px;
	    width: 18px;
	    background-color: $wolf-blue;
	    display: block;
	    position: absolute;
	    margin-top: 12px;
	    margin-left: -30px;
	}
}


.lets_create_something_light_blue_bis{
	background-color:$light-electric-blue;
	padding-bottom:70px;
	margin-bottom: -50px;
	margin-top: 50px;

	h2{
		font-family: 'EB Garamond', serif;
		font-size:2.5em;
		font-weight:700;
		color:white;
		margin-top: 80px;
    	margin-bottom: 50px;
	}

	h2::before{
		content: '';
	    height: 5px;
	    width: 25px;
	    background-color: $wolf-blue;
	    display: block;
	    position: absolute;
	    margin-top: 23px;
	    margin-left: -36px;
	}
}


.zone_client{
	padding-top: 60px;
    padding-bottom: 60px;

    .title_zone{
		font-size:1.5em;
		padding-bottom:30px;

	}

	.title_zone::before{
		content: '';
	    height: 4px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 14px;
	    margin-left: -28px;
	}

   	.col-lg-3{
   		padding-bottom:20px;
   	}

    img{
    	width: 76%;
   	 	margin-left: 12%;
    	margin-top: 18%;
    }

  .border_right{
  	border-right:1px $light-grey solid;
  }

  .border_bottom{
  	border-bottom:1px $light-grey solid;
  }
}



.zone_team{
	-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	margin-top:100px;
	padding-top:80px;
	padding-bottom:80px;

	img{
		width:60%;
		margin-left:20%;
	}

	h1{
		font-weight:700;
		font-size:1.5em;
		margin-top:30px;
		text-align:center;
	}

	.text_montserrat{
		font-size:0.8em;
		text-align:center;
		margin-top:20px;
		margin-bottom:30px;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	a{
		text-align:center;
		width:20%;
		margin-left:30%;
	}
}


.wolf_blue_zone{
	background-color:$wolf-blue;
	padding-top:50px;
	padding-bottom:50px;

	.title_level_1{
		color:white;
		font-size:1.5em;
		margin-bottom:40px;
	}

	.title_level_1::before{
		content: '';
	    display: none;
	    height: 4px;
	    width: 18px;
	    background-color: white;
	    position: absolute;
	    margin-top: 14px;
	    margin-left: -30px;
	}

	.btn_electric_blue{
		margin-top:40px;
		width:100%!important;
	}

}

input{
	border:3px solid $medium_grey;
	text-indent:15px;
	width:100%;
	padding:10px;
	color:$medium_grey;
	font-size:0.7em;
	font-family: 'Montserrat', sans-serif !important;
	font-weight:500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input:focus{
	border: 3px solid $wolf-blue;
	color:$wolf-blue;
}


textarea{
	border:3px solid $medium_grey;
	text-indent:15px;
	width:100%;
	height:250px;
	padding:10px;
	color:$medium_grey;
	font-size:0.7em;
	font-family: 'Montserrat', sans-serif !important;
	font-weight:500;
}

textarea:focus{
	border: 3px solid $wolf-blue;
	color:$wolf-blue;
}

.list_items{
	font-size:0.8em;
	font-family: 'Montserrat', sans-serif !important;
	color:$medium_grey;
	list-style: url('../img/puce_list.svg');
	margin-left:35px;
	margin-top:20px;

	 li{
	 	margin-top:19px;
	 }
}

.lang_selector_fr{
	position:fixed;
	z-index: 10000;
	background: rgba(0,188,180,1);
	background: -moz-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,188,180,1)), color-stop(100%, rgba(122,159,180,1)));
	background: -webkit-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: -o-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: linear-gradient(to right, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcb4', endColorstr='#7a9fb4', GradientType=1 );
	display: block;
	border-radius: 150px;
	bottom: 30px;
    right: 30px;
    padding-top: 9px;
    height: 47px;
    width: 133px;

	img{
		margin-left: 19px;
	}

	a{
		color: white;
		font-family: 'EB Garamond', serif;
		font-weight: 800;
		font-size:1em;
		margin-left: 10px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
  		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	a:hover{
		color: white;
	}
}
/**********************************************************************************************************************************************************/
/* HOME PAGE */
/**********************************************************************************************************************************************************/


.home_zone_1{
	background-color:$super-light-grey;
	width:100%;
	height:576px;
	border:15px solid white;
	overflow:hidden;

	img{
		width:64%;
		margin-left:18%;
	}

	.title_level_1{
		margin-top:100px;
		margin-left:15px;
		font-size: 2em!important;
		text-align:center;
	}

	.text_montserrat{
		margin-top:30px;
		margin-left:0px;
		font-size:0.8em;
		text-align:center;
	}

	.text_montserrat::before{
		content: '';
	    height: 3px;
	    width: 15px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -24px;
	}

	.arrow_scroll{
		width: 45%;
    	margin-top: 39px;
    	display:none;
	}
}

.home_zone_2{
	margin-top:0px;

	.descr_text{
		font-family: 'EB Garamond', serif;
		font-size:1em;
		color:$medium-grey;
		margin-top:15px;
	}

	.descr_text p::before{
		content: '';
	    height: 4px;
	    width: 17px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 10px;
	    margin-left: -25px;
	}

	.title_zone{
		font-size: 1.5em;
		margin-left: 50px;
	}

	.title_zone:before{
		display: none;
	}

	.activity_1{
		margin-top:0px;
		margin-bottom:40px;
		.fond_1{
			background:url('../img/fond_activity_1.svg') no-repeat;
		    background-size: 40%;
		    background-position-x: center;
		    background-position-y: center;
		    z-index: -1;

			img{
				width:40%;
				margin-left:30%;
				margin-top:25px;
			}
		}

		.fond_2{
			background:url('../img/fond_activity_2.svg') no-repeat;
		    background-size: 40%;
		    background-position-x: center;
		    background-position-y: center;
		    z-index: -1;

			img{
				width:40%;
				margin-left:30%;
				margin-top:65px;
			}
		}

		.title_name {
		    color: #016099;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 1.2em;
		    font-weight: 700;
		}

		.title_name::before{
			content: '';
		    display: none;
		    height: 5px;
		    width: 20px;
		    position: absolute;
		    background-color: #A7E4EA;
		    z-index: -1;
		    margin-left: -30px;
		    margin-top: 9px;
		}

		.text_description{
			font-size:0.8em!important;
			line-height:1.5em!important;
			margin-bottom:30px;
		}
	}

	.activity_2{
		margin-top:0px;
		margin-bottom:40px;
		.fond_1{
			background:url('../img/fond_activity_1.svg') no-repeat;
		    background-size: 40%;
		    background-position-x: center;
		    background-position-y: center;
		    z-index: -1;

			img{
				width:38%;
				margin-left:30%;
				margin-top:35px;
			}
		}

		.title_name {
		    color: #016099;
		    font-family: 'Montserrat', sans-serif;
		    font-size: 1.2em;
		    font-weight: 700;
		}

		.title_name::before{
			content: '';
		    display: none;
		    height: 5px;
		    width: 20px;
		    position: absolute;
		    background-color: #A7E4EA;
		    z-index: -1;
		    margin-left: -30px;
		    margin-top: 9px;
		}

		.text_description{
			font-size:0.8em!important;
			line-height:1.5em!important;
			margin-bottom:30px;
		}
	}

}

.home_zone_3{
	-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	margin-top:100px;
	background-color:$super-light-grey2;
	padding-top:60px;
	padding-bottom:60px;

	.title_zone{
		font-size:1.5em;
	}

	.title_zone::before{
		content: '';
	    height: 4px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 14px;
	    margin-left: -28px;
	}

	.argumentaire{

		margin-top:30px;

		img{
			width:20%;
		}
		h3{
			color:$wolf-blue;
			font-family: 'Montserrat', sans-serif;
			font-size:0.9em;
			font-weight:700;
			margin-top:17px;
			margin-bottom:20px;
		}

		p{
			color:$medium-grey;
			font-family: 'Montserrat', sans-serif;
			font-size:0.8em;
			font-weight:400;
			line-height:1.5em;
			width:80%;
		}
	}

}


/**********************************************************************************************************************************************************/
/* ABOUT PAGE */
/**********************************************************************************************************************************************************/

.about_zone_1{

	.title_level_1{
		margin-top:130px;
		font-size:2em;
		text-align:center;
	}

	.title_level_1::before{
		content:'';
		display:none;
		height:35px;
		width:305px;
		margin-top:50px;
		margin-left:393px;
		position:absolute;
		background-color:$light-electric-blue;
		z-index:-1;
	}

	.text_montserrat{
		margin-top:15px;
		font-size:0.8em;
		text-align:center;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	img{
		margin-top:20px;
		z-index:-2;
		position:relative;
		width:100%;
	}
}

.about_zone_2{

	margin-top:60px;

	.chiffre_1{
		h1{
			color:$light-electric-blue;
			font-size:5em;
			font-family: 'Montserrat', sans-serif;
			font-weight:700;
		}

		p{
			font-family: 'EB Garamond', serif;
			color:$medium-grey;
			font-weight:400;
			font-size:1.5em;
			margin-left:30px;
			margin-top:-60px;
		}
	}
}

.about_zone_3{

	margin-top:20px;

	h1{
		color:$wolf-blue;
		font-size:1.1em;
		font-family: 'Montserrat', sans-serif;
		font-weight:700;
		margin-top:30px;
		text-align:center;
	}

	h1::after{
		content: '';
	    display: none;
	    height: 20px;
	    width: 150px;
	    background-color: #A7E4EA;
	    margin-top: -15px;
    	margin-left: 131px;
	}

	p{
		font-size:0.80em;
		line-height:1.5em;
		margin-left:0px;
		text-align:center;
		margin-top:15px;
	}
}



/**********************************************************************************************************************************************************/
/* PEOPLE PAGE */
/**********************************************************************************************************************************************************/
.people_zone_1{

	.title_level_1{
		margin-top:25vh;
		font-size:3em;
	}

	.title_level_1::before{
		content: '';
		display: block;
	    height: 30px;
	    width: 450px;
	    margin-top: 86px;
   		margin-left: 121px;
	    position: absolute;
	    background-color: #A7E4EA;
	    z-index: -1;
	}

	.text_montserrat{
		margin-top:30px;
		font-size:0.9em;
		margin-bottom:46px;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	img{
		margin-top:20vh;
		z-index:-2;
		width:55%;
		position:relative;
	}
}

.people_zone_2{
	margin-top:120px;
	padding-bottom:80px;

	.people_profil{
		margin-bottom:20px;

		img{
			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.1);
			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.1);
			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.1);
		}

		.title_level_1{
			font-size:1.2em;
			margin-top:10px;
		}

		.text_montserrat{
			font-size:0.8em;
		}
	}
}




/**********************************************************************************************************************************************************/
/* JOBS PAGE */
/**********************************************************************************************************************************************************/

.jobs_zone_1{

	.title_level_1{
		margin-top:150px;
		font-size:1.5em;
	}

	.title_level_1::before{
		content: '';
		display: none;
	    height: 30px;
	    width: 450px;
	    margin-top: 69px;
    	margin-left: 294px;
	    position: absolute;
	    background-color: #A7E4EA;
	    z-index: -1;
	}
}

.jobs_zone_2{

	margin-top:30px;

	.element{
		border-top:solid 2px $super-light-grey;
	    border-bottom:solid 2px $super-light-grey;
	    padding-top:20px;
	    padding-bottom:10px;

		.accordion {

		    border-right:none;
		    border-left:none;
		    color: #444;
		    cursor: pointer;
		    padding: 18px;
		    width: 100%;
		    text-align: left;
		    outline: none;
		    transition: 0.4s;

		    .partie_1{
	    		.title_level_1{
			    	font-size:1.3em;
			    }

			    .title_level_1::before{
			    	content: '';
				    display: block;
				    height: 11px;
				    width: 0px;
				    background-color: #A7E4EA;
				    position: absolute;
				    margin-top: 18px;
				    margin-left: 0px;
				    z-index: -1;
    				-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
				  	-o-transition: all 0.3s;
					transition: all 0.3s;

			    }

			    .title_level_1:hover{
			    	color:$dark_blue;
			    }

			    .title_level_1:hover:before{
			    	width:100px;
			    }

			    .text_montserrat{
			    	margin-top:8px;
			    	font-size:0.8em;
			    	font-weight:500;
			    }
	    	}

	    	.partie_resume{
	    		.text_montserrat{
			    	margin-top:8px;
			    	font-size:0.8em;
			    }
	    	}
		}

		.active, .accordion:hover {
		    background-color: none;
		}

		.panel {
		    padding: 0 18px;
		    background-color: white;
		    max-height: 0;
		    overflow: hidden;
		    transition: max-height 0.2s ease-out;

		    .text_montserrat{
			    	font-size:0.9em;
			    	color:$dark_grey;
			    }
		}
	}
}




/**********************************************************************************************************************************************************/
/* CONTACT PAGE */
/**********************************************************************************************************************************************************/

.contact_content{

	padding-top:120px;
	padding-bottom:80px;

	.title_level_1{
		font-size:2.2em;
		margin-left:00px;
		text-align:center;
	}

	.text_montserrat{
		font-size:0.9em;
		margin-top:30px;
		text-align:center;
	}

	a:hover{
		text-decoration:none;
	}

	.text_montserrat::before{
		content: '';
	    height: 4px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	.btn_dark_grey{
		margin-top:20px;
		background-color:white;
		cursor:pointer;
	}

	input {
		margin-top:30px;
	}

	textarea{
		margin-top:30px;
	}

	.title_zone{
		margin-top:50px;
		font-size:1.5em;
		font-weight:600;
	}

	.title_zone::before{
		content: '';
	    height: 4px;
	    width: 18px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 17px;
	    margin-left: -30px;
	}

	.adresses{
		.title_name{
			color:$medium-grey;
			font-size:0.9em;
			margin-top:15px;
			margin-bottom:0px!important;
		}

		.title_name::before{
			content: '';
		    display: block;
		    height: 3px;
		    width: 14px;
		    position: absolute;
		    background-color: #A7E4EA;
		    z-index: 0;
		    margin-left: -22px;
		    margin-top: 9px;
		}
	}
}



/**********************************************************************************************************************************************************/
/* PURPOSE PAGE */
/**********************************************************************************************************************************************************/

.content_purpose_1{
	padding-top:100px;

	.title_level_1{
		font-size:2em;
		margin-top:10px;
		text-align:center;
	}

	.text_montserrat{
		font-size:0.8em;
		text-align:center;
		margin-top:20px;
	}

	.text_montserrat::before{
		content: '';
	    height: 3px;
	    width: 15px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -25px;
	}

	img{
		width:100%;
	}

	.title_name{
		color:$medium-grey;
		font-size:0.8em;
		text-align:center;
	}

	.title_zone:before{
		display: none;
	}

	.title_zone{
		font-size: 1em;
	}
}

.content_purpose_2{
	background-color:$light-electric-blue;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	padding-top:60px;
	padding-bottom:50px;
	margin-bottom:60px;
	margin-top:40px;

	p, h1{
		color:$wolf-blue;
	}

	p{
		margin-left:0px;
		margin-top:30px;
		font-size:0.8em;
		font-weight:400;
	}
	.title_zone{
		font-size:1.5em;
	}
	.title_zone::before{
		content: '';
	    display: block;
	    height: 3px;
	    width: 20px;
	    position: absolute;
	    background-color: white;
	    z-index: 0;
	    margin-left: -28px;
	    margin-top: 13px;
	}

	a{
		font-weight: 800;
		color:$wolf-blue;
		text-decoration: underline;
	}
}

.content_purpose_3{
	.title_zone{
		font-size:1.2em;
		margin-left:30px;
	}

	.title_zone::before{
	    height: 4px;
	    width: 18px;
	    margin-left: -28px;
	    margin-top: 10px;
	}

	.text_description{
		margin-left:15px;
		font-size:0.8em;
		line-height:1.5em;
	}

	.num_2{
		margin-top:10px;
	}
}

.content_purpose_4{
	margin-top:30px;

	.title_zone{
		font-size:1.3em;
		margin-left:50px;
		margin-top:30px;
	}

	.title_zone::before{
	    height: 4px;
	    width: 18px;
	    margin-left: -28px;
	    margin-top: 10px;
	}

	.text_description{
		margin-left:40px;
		margin-top:20px;
		font-size:0.8em;
	}

	img{
		width:100%;
	}

	.photo_verticale{
		display:none;
	}

	ul{
		color:$medium-grey;
		font-family: 'Montserrat', sans-serif;
		font-size:0.8em;
		margin-left:55px;
		font-weight:400;
		list-style: url(../img/puce_liste.svg);

		li{
			margin-top:20px;
		}
	}

	.second_content{
		margin-top:80px;

		.photo_verticale{
			display:none;
		}
	}
}

.content_purpose_5{
	margin-top:30px;
	margin-bottom:50px;


	.are_you_ready{
		background-color:$wolf-blue;
		padding-top:70px;
		padding-bottom:60px;
		padding-left:20px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		.title_level_1{
			color:white;
			font-size:1.5em;
			font-weight:600;
		}

		.title_level_1::after{
			content: '';
		    display: none;
		    height: 13px;
		    width: 100%;
		    background-color: $light-electric-blue;
		    margin-top: -18px;
		    margin-left: 131px;
		}

		.text_description{
			color:white;
			margin-top:30px;
			line-height:2em;
			margin-left:5px;
			font-size:0.8em;
		}
	}

	.techno_logo{
		margin-top: -113px;
		margin-bottom:80px;
	    background-color: white;
	    padding-top: 61px;
	    padding-bottom: 60px;
	    padding-left: 57px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		img{
			width:250px;
		}
	}
}


/**********************************************************************************************************************************************************/
/* CLOUD NATIVE PAGE */
/**********************************************************************************************************************************************************/


.services_zone_1{
	padding-top:90px;

	img{
		width:70%;
		margin-left:12%;
	}

	.illustration_nuage{
		position: absolute;
	    width: 30%;
	    top: -28px;
	    left: -34px;
	}

	.title_subcategory{
		font-size:0.8em;
		font-weight:400;
		margin-top:30px;
		margin-bottom:0px;
		text-align:center;
	}

	.title_level_1{
		font-size:2em;
		text-align:center;
	}

	.text_montserrat::before{
		content: '';
	    height: 3px;
	    width: 15px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	.text_montserrat{
		margin-top:20px;
		text-align:center;
		font-size:0.8em;
		font-weight:400;
	}
}

.services_zone_2{
	margin-bottom:0px;
	margin-top:30px;

	.icone{
		margin-left:30px;
	}

	.title_zone{
		font-size:1.5em;
	}

	.title_zone::before{
		margin-top:12px;
	}

	.bis{
		margin-bottom:40px;
		margin-top:30px;
	}

	.text_description{
		margin-top:10px;
		margin-bottom:50px;
		font-size:0.8em;
	}

	.margin_left_20{
		margin-left:0px;
	}

	.title_name{
		font-size:0.9em;
	}

	.title_name::before{
		content: '';
	    height: 5px;
	    width: 15px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 10px;
	    margin-left: -25px;
	}
}

.services_zone_3{
	background-color:$super-light-grey2;
	padding-top:50px;
	padding-bottom:30px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

	.title_zone{
		font-size:1.5em;
		text-align:center;
	}

	.title_zone::before{
		content: '';
	    height: 3px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 13px;
	    margin-left: -28px;
	}

	.text_description{
		margin-top:15px;
		margin-bottom:50px;
		text-align:center;
		font-size:0.8em;
	}

	.technical_item{
		display:block;
		background-color:white;
		text-align:center;
		padding:27px 30px 20px 30px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		margin-bottom:30px;
		height:120px;

		.text_description{
			font-size:0.8em;
			margin-bottom:0px;
			margin-top:0px;
			font-weight:600;
			vertical-align:middle;
		}

		.text_description::after{
			content: '';
		    height: 3px;
		    width: 10%;
		    background-color: $light-electric-blue;
		    display: none;
		    margin-top:15px;
		    margin-left:45%;

		}

		.v_align{
			margin-top:20px;
		}

		.v_align_3{
			margin-top:10px;
		}


		.v_align_992{
			margin-top:20px;
		}
	}
}

.services_zone_3_bis{
	background-color:$super-light-grey2;
	padding-top:60px;
	margin-top:50px;
	padding-bottom:40px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

	.title_zone{
		font-size:1.2em;
		font-weight:700;
		margin-bottom:50px;
	}

	.title_zone::before{
		margin-top:12px;
	}

	.text_description{
		margin-top:30px;
		margin-bottom:50px;
	}

	.technical_item{
		display:block;
		background-color:white;
		text-align:center;
		padding:13px 30px 20px 30px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		margin-bottom:30px;
		height:100px;

		.text_description{
			font-size:0.8em;
			margin-bottom:0px;
			margin-top:0px;
			font-weight:600;
			vertical-align:middle;
		}

		.v_align_1{
			margin-top:17px;
		}

		.v_align_2{
			margin-top:17px;
		}

		.v_align_3{
			margin-top:22px;
		}
	}
}

.services_zone_4{
	margin-top:00px;


	.are_you_ready{
		background-color:$light-electric-blue;
		padding-top:70px;
		padding-bottom:40px;
		padding-left:50px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		.title_level_1{
			color:$wolf-blue;
			font-size:1.5em;
			font-weight:600;
		}

		.title_level_1::after{
			content: '';
		    display: none;
		}

		.text_description{
			color:$wolf-blue;
			margin-top:30px;
			line-height:1.2em;
			font-weight:500;
			font-size:0.8em;
		}
	}

	.techno_logo{
	    margin-top: 0px;
	    background-color: $wolf-blue;
	    padding-top: 64px;
	    padding-bottom: 45px;
	    padding-left: 94px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		img{
			margin-bottom:40px;
			width:120px;
		}
	}
}

.services_zone_5{
	margin-top:50px;

	img{
		width:80%;
		margin-left:10%;
	}

	.title_zone{
		font-size:1.5em;
		margin-top:10px;
		text-align:center;
	}

	.title_zone::before{
		content: '';
	    height: 3px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 13px;
	    margin-left: -28px;
	}

	.text_description{
		line-height: 1.5em;
	    margin-top: 20px;
	    font-size:0.8em;
	    text-align:center;
	}
}

.services_zone_6{
	margin-top:20px;

	img{
		width: 68%;
	    margin-left: 16%;
	    margin-top: 26px;
	}

	.title_zone{
		font-size:1.5em;
		margin-top:20px;
		text-align:center;
	}

	.title_zone::before{
		content: '';
	    height: 3px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 13px;
	    margin-left: -28px;
	}


	.text_description{
		line-height: 1.5em;
	    margin-top: 0px;
	    margin-left: 0px;
	    font-size:0.8em;
	    text-align:center;
	}

	.title_name{
		font-size:0.8em;
		color:$medium_grey;
		margin-top:15px;
		margin-bottom:20px;
		text-align:center;
	}

	.icone{
		width:80%;
		margin-left:10%;
		margin-top:0px;
	}

	.bis{
		.title_name_2{
			color: #016099;
		    font-size: 1.2em;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 700;
		    margin-top:40px;
		    text-align: center;
		}

		.text_description{
			line-height: 1.2em;
		    margin-top: 10px;
		    margin-left: 0px;
		}
	}
}

.services_zone_7{
	background-color:$wolf-blue;
	padding-top:50px;
	padding-bottom:50px;
	margin-top:80px;

	.text_description{
		color:white;
		margin-top:30px;
		line-height:1.5em;
		text-align:center;
		font-size:0.8em;
	}

	.title_zone{
		margin-top:40px;
		color:white;
		font-size: 1.5em;
		text-align:center;
	}

	.title_zone::before{
		content: '';
	    height: 3px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: none;
	    position: absolute;
	    margin-top: 13px;
	    margin-left: -28px;
	}

	img{
	    width: 80%;
	    margin-left: 10%;
	}
}

.services_zone_8{
	margin-top:80px;
	padding-bottom:80px;

	.title_zone{
		font-size: 1.5em;
		text-align:center;
	}

	.title_zone::before{
		margin-top:15px;
		display:none;
	}

	img{
		margin-top: 30px;
   		width: 60%;
   		margin-left:20%;
	}

	.text_description{
		margin-left:0px;
		margin-top:0px;
		line-height:1.5em;
		margin-bottom:50px;
		font-size:0.8em;
	}

	a{
		margin-left:0px;
	}
}

.services_zone_9{
	margin-top:60px;

	.title_zone{
		font-size: 1.5em;
	}

	.title_zone::before{
		height: 3px;
		margin-top: 10px;
    	margin-left: -27px;
    	width: 20px;

	}

	.text_description{
		line-height: 1.3em;
    	margin-bottom: 50px;
    	font-size: 0.8em;
	}

	.icone{
		width: 25%;
	}
}

.services_zone_10{
	background-color:$super-light-grey2;
	padding-top:80px;
	padding-bottom:80px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

	.title_zone{
		margin-bottom: 60px;
		margin-left: 30px;
		font-size: 1.5em;
	}

	.title_name{
		margin-bottom: 60px;
		font-size: 1em;
	}

	img{
		margin-bottom: 10px;
		width: 100px;
	}
}

/**********************************************************************************************************************************************************/
/* BLOG  */
/**********************************************************************************************************************************************************/

		/* PAGE INDEX BLOG */

	.blog_index{
		padding-top:190px;
		padding-bottom:80px;

		.blog_index_article{

			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
			margin-bottom: 50px;

			img{
                height: 100%;
				width: 100%;
                object-fit: cover;
				-webkit-transition: all 0.8s;
				-moz-transition: all 0.8s;
				-o-transition: all 0.8s;
				transition: all 0.8s;
			}

			img:hover{
				filter: grayscale(100%);
			}

			a{
				text-decoration: none;
			}

			p{
				font-family: 'Montserrat', sans-serif;
				font-size: 0.8rem;
				font-weight: 500;
				color: $wolf_blue;
				padding-bottom: 20px;
    			margin-left: 45%;
    			margin-top: 20px;
    			-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			p:hover{
				color: $light-electric-blue;
				text-decoration: underline;
			}

			h1{
				font-family: 'EB Garamond', serif;
				color: $medium-grey;
				font-size: 1.1rem;
				margin-left: 18px;
				margin-top: 30px;
				margin-right: 20px;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			h1:hover{
				color: $dark_grey;
			}
		}
	}

	.blog_article{
		padding-top:120px;
		padding-bottom:80px;

		.header{
			margin-bottom: 50px;
			img{
				width: 100%;
			}

			h1{
				font-family: 'EB Garamond', serif;
				font-size: 1.5rem;
				color:$wolf-blue;
				font-weight: 600;
				margin-top: 20px;
			}

			h1::before{
				content: '';
			    height: 5px;
			    width: 25px;
			    background-color: #A7E4EA;
			    display: block;
			    position: absolute;
			    margin-top: 20px;
			    margin-left: -36px;
			}

			p{
				font-family: 'EB Garamond', serif;
				color: $medium-grey;
				font-size: 0.8rem;
				margin-top: 5px;
				font-weight: 500;
				margin-left: 5px;
			}
		}

		.content {
			font-family: 'EB Garamond', serif;
			font-size: 0.9rem;
			color:$medium-grey;
			font-weight: 400;
			margin-left: 60px;

			h1{
				font-family: 'EB Garamond', serif;
				font-size: 1.4rem;
				color:$medium-grey;
				font-weight: 700;
				margin-bottom: 20px;
				margin-left: 30px;
			}

			h1::before{
				content: '';
			    height: 5px;
			    width: 20px;
			    background-color: #A7E4EA;
			    display: block;
			    position: absolute;
			    margin-top: 15px;
			    margin-left: -30px;
			}

			h2{
				font-family: 'EB Garamond', serif;
				font-size: 1.3rem;
				color:$medium-grey;
				font-weight: 700;
				margin-bottom: 20px;
				margin-left: 45px;
			}

			h3{
				font-family: 'EB Garamond', serif;
				font-size: 1rem;
				color:$medium-grey;
				font-weight: 700;
				margin-bottom: 10px;
				margin-left: 60px;
			}

			em{
				font-family: 'EB Garamond', serif;
				font-size: 0.9rem;
				color:$medium-grey;
				font-weight: 400;
				font-style: italic;
				margin-left: 60px;
			}

			strong{
				font-family: 'EB Garamond', serif;
				font-size: 0.9rem;
				color:$medium-grey;
				font-weight: 600;
				margin-left: 60px;
			}

			a{
				color:$wolf-blue;
				font-weight: 700;
				text-decoration: underline;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			a:hover{
				color: $dark_grey;
			}

			blockquote{
				width: 80%;
				font-family: 'EB Garamond', serif;
				font-size: 0.9rem;
				color:$medium-grey;
				font-weight: 400;
				font-style: italic;
				margin-left: 60px;
				margin-top: 30px;
				margin-bottom: 30px;
				padding-top:30px;
				padding-bottom:15px;
				padding-left:20px;
				padding-right:20px;
				border:solid 5px transparent;
				border-left-color: $dark_blue;

				-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				background-color:white;
			}

			pre{
				width: 80%;
				font-family: 'Montserrat', serif;
				font-size: 0.8rem;
				color:$medium-grey;
				font-weight: 400;
				margin-left: 60px;
				margin-top: 30px;
				margin-bottom: 30px;
				padding-top:30px;
				padding-bottom:15px;
				padding-left:20px;
				padding-right:20px;
				border:solid 5px transparent;
				border-left-color: $medium_blue;

				-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				background-color:white;
			}

			ul{
				font-family: 'EB Garamond', serif;
				font-size: 0.9rem;
				color:$medium-grey;
				font-weight: 400;
				margin-left: 110px;
				list-style: url('../img/puce_list.svg');
				margin-top:20px;
				margin-bottom: 30px;

				li{
					margin-top:5px;
				}
			}

			img{
				-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
				margin-left: 60px;
				width: 100%;
			}
		}

        .comments {
            margin-top: 3rem;
        }
	}
