@import "compass_reset";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
*/


body{
	overflow-x:hidden;
}

*:focus {
    outline: none;
}

/*USEFUL FOR CODING*/
.borderR{
	border:1px solid red;
}

/**********************************/
/* SETUP */
/**********************************/

//COLORS
$super-light-grey2:#FCFCFC;
$super-light-grey: #F9F9F9;
$light-grey:#D3D3D3;
$medium-grey:#707070;
$dark_grey:#282E36;
$sub_medium_grey:#666666;

$dark_blue:#00446C;
$wolf-blue:#016099;
$medium-blue:#4EB2DD;
$light-electric-blue:#A7E4EA;



//TYPOS
.title_level_1{
	font-family: 'EB Garamond', serif;
	font-weight:600;
	color:$wolf-blue;
	font-size:3em;
}

.text_montserrat{
	font-family: 'Montserrat', sans-serif;
	color:$medium-grey;
	font-size:1em;
	font-weight:300;
}

.title_subcategory{
	color:$light-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.8em;
	font-weight:400;
}

.title_name{
	color:$wolf-blue;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5em;
	font-weight:700;
}

.title_zone{
	font-family: 'EB Garamond', serif;
	font-weight:700;
	color:$medium-grey;
	font-size:2em;
}

.title_zone::before{
	content: '';
    height: 5px;
    width: 25px;
    background-color: #A7E4EA;
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: -36px;
}


.text_description{
	color:$medium-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.9em;
	font-weight:400;
}

.text_description_little{
	color:$medium-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.62em;
	font-weight:400;
}


.liens_text{
	color:$medium-grey;
	font-family: 'Montserrat', sans-serif;
	font-size:0.9em;
	font-weight:600;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.liens_text:hover{
	color:$wolf-blue;
	text-decoration:none;
}



//NAVIGATION

.content-menu-mobile,.content-menu-mobile_scroll{
	display:none;
}

.content_header{
	position: fixed;
	z-index:200;
    height: 80px;
    width: 100%;
    margin-top: 45px;
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
  	transition: all 0.5s;


    img{
    	margin-top:10px;
    	width:60%;
    	-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
	  	-o-transition: all 0.3s;
		transition: all 0.3s;
    }

    nav{
    	margin-top:30px;

    	.menu_link_1, .menu_link_2{
    		font-family: 'Montserrat', sans-serif;
			color:$wolf-blue;
			text-decoration:none;
			font-weight:600;
			font-size:0.9em;
			padding-left: 60px;
			cursor:pointer;
    	}

    	.menu_link_1::before{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -36px;
			margin-left: 251px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.menu_link_2::before{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -36px;
			margin-left: 371px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.menu_link_1:hover:before, .menu_link_2:hover:before{
    		width:50px;
    	}

    	.dropdown-content a{
    		font-family: 'Montserrat', sans-serif;
			color:$wolf-blue;
			text-decoration:none;
			font-weight:600;
			font-size:0.9em;
			padding-left: 60px;
			cursor:pointer;
    	}

    	.dropdown-content a::before{
			content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: 10px;
			margin-left: 190px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
		}

		.dropdown-content a:hover:before{
			width:50px;
		}

		.dropbtn{
			font-family: 'Montserrat', sans-serif;
			color:$wolf-blue;
			text-decoration:none;
			font-weight:600;
			font-size:0.9em;
			padding-left: 60px;
			cursor:pointer;
			background: transparent;
    		border: none;
   			outline: none;
   			padding-bottom:25px;
		}

		.dropbtn::before{
			content: '';
			display: block;
			height: 10px;
			width: 00px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: 10px;
			text-shadow: 0 0 black;
			margin-left: 30px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
		}

		.dropbtn:hover:before{
			width:50px;
		}


		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		    position: relative;
		    display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		    display: none;
		    position: absolute;
		    background-color: #f9f9f9;
		    min-width: 300px;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    text-align: center;
		    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		    margin-left: -50px;
		    z-index: 1;
		}

		/* Links inside the dropdown */
		.dropdown-content a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}
		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		    display: block;
		}
	}
}



.content_header_scroll{
	position: fixed;
	z-index:200;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
  	transition: all 0.5s;
  	-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	background-color:white;


    img{
    	margin-top:17px;
    	width:41%;
    	-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;

    }

    nav{
    	margin-top:30px;

    	.menu_link_1, .menu_link_2{
    		font-family: 'Montserrat', sans-serif;
			color:$wolf-blue;
			text-decoration:none;
			font-weight:600;
			font-size:0.9em;
			padding-left: 60px;
			cursor:pointer;
    	}

    	.menu_link_1::before{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -36px;
			margin-left: 251px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.menu_link_2::before{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -36px;
			margin-left: 371px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.menu_link_1:hover:before, .menu_link_2:hover:before{
    		width:50px;
    	}

    	.dropdown-content a{
    		font-family: 'Montserrat', sans-serif;
			color:$wolf-blue;
			text-decoration:none;
			font-weight:600;
			font-size:0.9em;
			padding-left: 60px;
			cursor:pointer;
    	}

    	.dropdown-content a::before{
			content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: 10px;
			margin-left: 190px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
		}

		.dropdown-content a:hover:before{
			width:50px;
		}

		.dropbtn{
			font-family: 'Montserrat', sans-serif;
			color:$wolf-blue;
			text-decoration:none;
			font-weight:600;
			font-size:0.9em;
			padding-left: 60px;
			cursor:pointer;
			background: transparent;
    		border: none;
   			outline: none;
   			padding-bottom:25px;
		}

		.dropbtn::before{
			content: '';
			display: block;
			height: 10px;
			width: 00px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: 10px;
			text-shadow: 0 0 black;
			margin-left: 30px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
		}

		.dropbtn:hover:before{
			width:50px;
		}


		/* The container <div> - needed to position the dropdown content */
		.dropdown {
		    position: relative;
		    display: inline-block;
		}

		/* Dropdown Content (Hidden by Default) */
		.dropdown-content {
		   display: none;
		    position: absolute;
		    background-color: #f9f9f9;
		    min-width: 300px;
		    padding-top: 20px;
		    padding-bottom: 20px;
		    text-align: center;
		    margin-left: -50px;
		    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		    z-index: 1;
		}

		/* Links inside the dropdown */
		.dropdown-content a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}
		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		    display: block;
		}
	}
}


.sub_menu{
	position: fixed;
    top: 80px;
    background-color: $super-light-grey;
    height: 70px;
    z-index:199;

    ul li{
    	display:inline-block;
    	padding-left:60px;
    	margin-top:25px;

    	.lien_1, .lien_2, .lien_3{
    		font-family: 'Montserrat', sans-serif;
    		font-weight: 600;
    		color:$medium-grey;
   			font-size: 0.9em;
   			text-decoration:none;
    	}

    	.lien_1::after{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -10px;
    		margin-left: 40px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.lien_1:hover, .lien_2:hover, .lien_3:hover{
    		color:$dark_grey;
    	}

    	.lien_2::after{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -10px;
    		margin-left: 20px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.lien_3::after{
    		content: '';
			display: block;
			height: 10px;
			width: 0px;
			background-color: #A7E4EA;
			position: absolute;
			margin-top: -10px;
    		margin-left: 20px;
			z-index: -1;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		  	-o-transition: all 0.3s;
			transition: all 0.3s;
    	}

    	.lien_1:hover:after{
    		width:50px;
    	}

    	.lien_2:hover:after{
    		width:50px;
    	}

    	.lien_3:hover:after{
    		width:30px;
    	}
    }
}


//FOOTER

footer{

	img{
		margin-top:30px;
	}

	margin-top: 50px;
	padding-top:80px;
	padding-bottom:25px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	background-color:$super-light-grey2;


	.title_level_1{
		font-size:1.4em;
		color:$medium_grey;
		margin-bottom:40px;
	}

	.title_level_1::after{
		content: '';
	    display: block;
	    height: 11px;
	    width: 63px;
	    background-color: #A7E4EA;
	    margin-top: -10px;
	    margin-left: 29px;
	}

	.btn_dark_grey{
		margin-left:30px;
	}

	.liens_sociaux{
		outline:none;
		border:none;

		svg{
			width:30px;
			margin-bottom:22px;

			path{
				fill:$light-electric-blue;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
			  	-o-transition: all 0.3s;
				transition: all 0.3s;
			}
		}

		.twitter{
			margin-top:42px;
		}
	}

	.liens_sociaux:hover svg path{
		fill:$wolf-blue;
	}

	.adresses{
		.title_name{
			color:$medium-grey;
			font-size:0.9em;
			margin-top:35px;
			margin-bottom:0px!important;
		}

		.title_name::before{
			content: '';
		    display: block;
		    height: 3px;
		    width: 14px;
		    position: absolute;
		    background-color: #A7E4EA;
		    z-index: 0;
		    margin-left: -22px;
		    margin-top: 9px;
		}
	}

	.liens_pages{
		.title_level_1{
			margin-top:40px;
			margin-bottom:20px!important;
		}

		ul{
			margin-left:30px;

			li{
				margin-bottom:15px;
			}
		}
	}

	.trait_gris_clair{
		display:block;
		height:1px;
		width:100%;
		margin-top:40px;
		background-color:$light-grey;
		margin-bottom:30px;
	}

	.subfooter{
		.text_description{
			font-size:0.8em;
		}

		a{
			color:$medium-grey;
			font-family: 'Montserrat', sans-serif;
			font-size:0.8em;
			font-weight:400;
			float:right;
		}
	}
}


//BUTTONS

.btn_dark_grey{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
	border:solid $medium-grey 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	position:relative;
	font-size:0.9em;
	color:$medium-grey;
	z-index:1;
	padding: 12px 20px 12px 20px;

	svg{
		width:8px;
		margin-left:20px;
		stroke:$medium-grey;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	  	-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.btn_dark_grey:hover{
	color:white;
	text-decoration:none;

	svg{
		stroke:white;
	}
}

.btn_dark_grey::after {
  background: $medium-grey;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 104%;
  left: -1px;
  top: -1px;
  width: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_dark_grey:hover:after{
  width: 101%;
}


.btn_white{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
	border:solid white 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	position:relative;
	font-size:0.9em;
	color:white;
	z-index:1;
	padding: 12px 20px 12px 20px;

	svg{
		width:8px;
		margin-left:20px;
		stroke:white;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	  	-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.btn_white:hover{
	color:$wolf-blue;
	text-decoration:none;

	svg{
		stroke:$wolf-blue;
	}
}

.btn_white::after {
  background: #fff;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 103%;
  left: -1px;
  top: -1px;
  width: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_white:hover:after{
  width: 101%;
}


.btn_medium_blue{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
	border:solid $medium-blue 3px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	position:relative;
	font-size:0.9em;
	color:$medium-blue;
	z-index:1;
	padding: 12px 20px 12px 20px;

	svg{
		width:8px;
		margin-left:20px;
		stroke:$medium-blue;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	  	-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.btn_medium_blue:hover{
	color:$wolf-blue;
	text-decoration:none;

	svg{
		stroke:$wolf-blue;
	}
}

.btn_medium_blue::after {
  background: $medium-blue;
  display:block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_medium_blue:hover:after{
  width: 100%;
}

/**********************************/
/* EVERYWHERE ON THE SITE */
/**********************************/

.lets_create_something{
	h2{
		font-family: 'EB Garamond', serif;
		font-size:2.5em;
		font-weight:700;
		color:$medium-grey;
		margin-top: 80px;
    	margin-bottom: 50px;
	}

	h2::before{
		content: '';
	    height: 5px;
	    width: 25px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 23px;
	    margin-left: -36px;
	}

	.btn_dark_grey{
		margin-bottom: 50px;
	}
}

.lets_create_something_light_blue{
	background-color:$light-electric-blue;
	padding-bottom:70px;

	h2{
		font-family: 'EB Garamond', serif;
		font-size:2.5em;
		font-weight:700;
		color:white;
		margin-top: 80px;
    	margin-bottom: 50px;
	}

	h2::before{
		content: '';
	    height: 5px;
	    width: 25px;
	    background-color: $wolf-blue;
	    display: block;
	    position: absolute;
	    margin-top: 23px;
	    margin-left: -36px;
	}
}

.lets_create_something_light_blue_bis{
	background-color:$light-electric-blue;
	padding-bottom:70px;
	margin-bottom: -50px;
	margin-top: 50px;

	h2{
		font-family: 'EB Garamond', serif;
		font-size:2.5em;
		font-weight:700;
		color:white;
		margin-top: 80px;
    	margin-bottom: 50px;
	}

	h2::before{
		content: '';
	    height: 5px;
	    width: 25px;
	    background-color: $wolf-blue;
	    display: block;
	    position: absolute;
	    margin-top: 23px;
	    margin-left: -36px;
	}
}




.zone_client{
	padding-top: 130px;
    padding-bottom: 80px;

    .title_zone{
    	margin-bottom:80px;
    }

   	.col-lg-3{
   		padding-bottom:50px;
   	}

    img{
    	width: 64%;
   	 	margin-left: 18%;
    	margin-top: 18%;
    }

  .border_right{
  	border-right:1px $light-grey solid;
  }

  .border_bottom{
  	border-bottom:1px $light-grey solid;
  }
}



.zone_team{
	-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	margin-top:100px;
	padding-top:80px;
	padding-bottom:80px;

	img{
		width:100%;
	}

	h1{
		font-weight:700;
		font-size:2.5em;
		margin-top:150px;

	}

	.text_montserrat{
		font-size:1em;
		margin-left:100px;
		margin-top:50px;
		margin-bottom:50px;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	a{
		margin-left:70px;
	}
}


.wolf_blue_zone{
	background-color:$wolf-blue;
	padding-top:80px;
	padding-bottom:80px;

	.title_level_1{
		color:white;
		font-size:2.8em;
		margin-bottom:60px;
	}

	.title_level_1::before{
		content: '';
	    display: block;
	    height: 5px;
	    width: 30px;
	    background-color: white;
	    position: absolute;
	    margin-top: 26px;
	    margin-left: -45px;
	}

	.btn_electric_blue{
		margin-top:80px;
	}

}

input{
	border:3px solid $medium_grey;
	text-indent:15px;
	width:350px;
	padding:10px;
	color:$medium_grey;
	font-size:0.7em;
	font-family: 'Montserrat', sans-serif !important;
	font-weight:500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input:focus{
	border: 3px solid $wolf-blue;
	color:$wolf-blue;
}


textarea{
	border:3px solid $medium_grey;
	text-indent:15px;
	width:350px;
	height:250px;
	padding:10px;
	color:$medium_grey;
	font-size:0.7em;
	font-family: 'Montserrat', sans-serif !important;
	font-weight:500;
}

textarea:focus{
	border: 3px solid $wolf-blue;
	color:$wolf-blue;
}


.list_items{
	font-size:0.9em;
	font-family: 'Montserrat', sans-serif !important;
	color:$medium_grey;
	list-style: url('../img/puce_list.svg');
	margin-left:35px;
	margin-top:20px;

	 li{
	 	margin-top:19px;
	 }
}


.lang_selector_fr{
	position:fixed;
	z-index: 10000;
	background: rgba(0,188,180,1);
	background: -moz-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,188,180,1)), color-stop(100%, rgba(122,159,180,1)));
	background: -webkit-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: -o-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	background: linear-gradient(to right, rgba(0,188,180,1) 0%, rgba(122,159,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcb4', endColorstr='#7a9fb4', GradientType=1 );
	display: block;
	border-radius: 150px;
	bottom: 30px;
    right: 30px;
    padding-top: 9px;
    height: 47px;
    width: 133px;

	img{
		margin-left: 19px;
	}

	a{
		color: white;
		font-family: 'EB Garamond', serif;
		font-weight: 800;
		font-size:1em;
		margin-left: 10px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
  		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	a:hover{
		color: white;
	}
}
/**********************************************************************************************************************************************************/
/* HOME PAGE */
/**********************************************************************************************************************************************************/


.home_zone_1{
	background-color:$super-light-grey;
	width:100%;
	height:100vh;
	border:15px solid white;

	.title_level_1{
		margin-top:30vh;
	}

	.text_montserrat{
		margin-top:30px;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	.arrow_scroll{
		width:30%;
	}

	img{
		width: 100%;
	}
}

.home_zone_2{
	margin-top:40px;

	.descr_text{
		font-family: 'EB Garamond', serif;
		font-size:1.4em;
		color:$medium-grey;
		margin-top:20px;
	}

	.descr_text p::before{
		content: '';
	    height: 5px;
	    width: 25px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 15px;
	    margin-left: -30px;
	}

	.title_zone{
		font-size: 1.5em;
		margin-left: 60px;
	}

	.title_zone:before{
		display: none;
	}

	.activity_1{
		margin-top:50px;
		.fond_1{
			background:url('../img/fond_activity_1.svg') no-repeat;
		    background-size: 78%;
		    background-position-x: center;
		    background-position-y: center;
		    z-index: -1;

			img{
				width:85%;
			}
		}

		.fond_2{
			background:url('../img/fond_activity_2.svg') no-repeat;
		    background-size: 78%;
		    background-position-x: center;
		    background-position-y: center;
		    z-index: -1;

			img{
				width:85%;
			}
		}

		.title_name::before{
			content:'';
			display:block;
			height:13px;
			width:313px;
			position:absolute;
			background-color:$light-electric-blue;
			z-index:-1;
			margin-left: -200px;
    		margin-top: 13px;
		}
	}

	.activity_2{
		margin-top:50px;
		.fond_1{
			background:url('../img/fond_activity_1.svg') no-repeat;
		    background-size: 78%;
		    background-position-x: center;
		    background-position-y: center;
		    z-index: -1;

			img{
				width:85%;
			}
		}

		.title_name::before{
			content:'';
			display:block;
			height:13px;
			width:313px;
			position:absolute;
			background-color:$light-electric-blue;
			z-index:-1;
			margin-left: 290px;
    		margin-top: 13px;
		}
	}

	.activity{
		.text_description{
			line-height:2.1em;
			margin-top:20px;
			margin-bottom:40px;
		}

		.title_subcategory{
			margin-top:60px;
		}
	}
}

.home_zone_3{
	-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
	margin-top:100px;
	background-color:$super-light-grey2;
	padding-top:100px;
	padding-bottom:100px;

	.argumentaire{

		margin-top:80px;

		img{
			width:20%;
		}
		h3{
			color:$wolf-blue;
			font-family: 'Montserrat', sans-serif;
			font-size:1.1em;
			font-weight:700;
			margin-top:17px;
			margin-bottom:20px;
		}

		p{
			color:$medium-grey;
			font-family: 'Montserrat', sans-serif;
			font-size:0.8em;
			font-weight:400;
			line-height:2em;
			width:80%;
		}
	}

}


/**********************************************************************************************************************************************************/
/* ABOUT PAGE */
/**********************************************************************************************************************************************************/

.about_zone_1{

	.title_level_1{
		margin-top:25vh;
		font-size:4.2em;
	}

	.title_level_1::before{
		content:'';
		display:block;
		height:35px;
		width:305px;
		margin-top:50px;
		margin-left:393px;
		position:absolute;
		background-color:$light-electric-blue;
		z-index:-1;
	}

	.text_montserrat{
		margin-top:30px;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	img{
		margin-top:20vh;
		z-index:-2;
		position:relative;
	}
}

.about_zone_2{

	margin-top:100px;

	.chiffre_1{
		h1{
			color:$light-electric-blue;
			font-size:7.5em;
			font-family: 'Montserrat', sans-serif;
			font-weight:700;
		}

		p{
			font-family: 'EB Garamond', serif;
		    color: #707070;
		    font-weight: 500;
		    font-size: 1.2em;
		    margin-left: 30px;
		    line-height: 1.2em;
		    margin-top: -60px;
		}
	}
}

.about_zone_3{

	margin-top:150px;

	h1{
		color:$wolf-blue;
		font-size:1.5em;
		font-family: 'Montserrat', sans-serif;
		font-weight:700;
	}

	h1::after{
		content: '';
	    display: block;
	    height: 20px;
	    width: 150px;
	    background-color: #A7E4EA;
	    margin-top: -15px;
    	margin-left: 131px;
	}

	p{
		font-size:0.85em;
		line-height:1.8em;
		margin-left:60px;
		margin-top:20px;
	}
}



/**********************************************************************************************************************************************************/
/* PEOPLE PAGE */
/**********************************************************************************************************************************************************/
.people_zone_1{

	.title_level_1{
		margin-top:25vh;
		font-size:3em;
	}

	.title_level_1::before{
		content: '';
		display: block;
	    height: 30px;
	    width: 450px;
	    margin-top: 86px;
   		margin-left: 121px;
	    position: absolute;
	    background-color: #A7E4EA;
	    z-index: -1;
	}

	.text_montserrat{
		margin-top:30px;
		font-size:0.9em;
		margin-bottom:46px;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	img{
		margin-top:20vh;
		z-index:-2;
		width:55%;
		position:relative;
	}
}

.people_zone_2{
	margin-top:120px;
	padding-bottom:80px;

	.people_profil{
		margin-bottom:20px;

		img{
			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.1);
			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.1);
			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.1);
		}

		.title_level_1{
			font-size:1.2em;
			margin-top:10px;
		}

		.text_montserrat{
			font-size:0.8em;
		}
	}
}




/**********************************************************************************************************************************************************/
/* JOBS PAGE */
/**********************************************************************************************************************************************************/

.jobs_zone_1{

	.title_level_1{
		margin-top:25vh;
		font-size:2.3em;
	}

	.title_level_1::before{
		content: '';
		display: block;
	    height: 30px;
	    width: 450px;
	    margin-top: 69px;
    	margin-left: 294px;
	    position: absolute;
	    background-color: #A7E4EA;
	    z-index: -1;
	}
}

.jobs_zone_2{

	margin-top:80px;

	.element{
		border-top:solid 2px $super-light-grey;
	    border-bottom:solid 2px $super-light-grey;
	    padding-top:20px;
	    padding-bottom:10px;

		.accordion {

		    border-right:none;
		    border-left:none;
		    color: #444;
		    cursor: pointer;
		    padding: 18px;
		    width: 100%;
		    text-align: left;
		    outline: none;
		    transition: 0.4s;

		    .partie_1{
	    		.title_level_1{
			    	font-size:1.6em;
			    }

			    .title_level_1::before{
			    	content: '';
				    display: block;
				    height: 11px;
				    width: 0px;
				    background-color: #A7E4EA;
				    position: absolute;
				    margin-top: 18px;
				    margin-left: 0px;
				    z-index: -1;
    				-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
				  	-o-transition: all 0.3s;
					transition: all 0.3s;

			    }

			    .title_level_1:hover{
			    	color:$dark_blue;
			    }

			    .title_level_1:hover:before{
			    	width:100px;
			    }

			    .text_montserrat{
			    	margin-top:8px;
			    	font-size:0.9em;
			    }
	    	}

	    	.partie_resume{
	    		.btn_dark_grey{
	    			color: $dark_grey;
			    	margin-top: 20px;
			    	margin-left: 14px;
			    	margin-bottom: 50px;
			    }

			    .btn_dark_grey:hover{
					color:white;
					text-decoration:none;

					svg{
						stroke:white;
					}
				}
	    	}
		}

		.active, .accordion:hover {
		    background-color: none;
		}

		.panel {
		    padding: 0 18px;
		    background-color: white;
		    max-height: 0;
		    overflow: hidden;
		    transition: max-height 0.2s ease-out;

		    .title_name{
		    	font-size: 1em;
		    }

		    .text_montserrat_bold{
		    	font-family: 'Montserrat', sans-serif;
				color:$medium-grey;
				font-size:1em;
				font-weight:600;
		    }
		}
	}
}




/**********************************************************************************************************************************************************/
/* CONTACT PAGE */
/**********************************************************************************************************************************************************/

.contact_content{

	padding-top:180px;
	padding-bottom:80px;

	.title_level_1{
		font-size:3em;
	}

	.text_montserrat{
		font-size:0.9em;
		margin-top:30px;
	}

	a:hover{
		text-decoration:none;
	}

	.text_montserrat::before{
		content: '';
	    height: 4px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	.btn_dark_grey{
		margin-top:20px;
		background-color:white;
		cursor:pointer;
	}

	input {
		margin-top:30px;
	}

	textarea{
		margin-top:30px;
	}

	.title_zone{
		margin-top:198px;
		font-size:1.5em;
		font-weight:600;
	}

	.title_zone::before{
		content: '';
	    height: 4px;
	    width: 18px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 17px;
	    margin-left: -30px;
	}

	.adresses{
		.title_name{
			color:$medium-grey;
			font-size:0.9em;
			margin-top:15px;
			margin-bottom:0px!important;
		}

		.title_name::before{
			content: '';
		    display: block;
		    height: 3px;
		    width: 14px;
		    position: absolute;
		    background-color: #A7E4EA;
		    z-index: 0;
		    margin-left: -22px;
		    margin-top: 9px;
		}
	}
}

/**********************************************************************************************************************************************************/
/* PURPOSE PAGE */
/**********************************************************************************************************************************************************/

.content_purpose_1{
	padding-top:200px;

	.title_level_1{
		font-size:2.8em;
		margin-top:80px;
	}

	.text_montserrat{
		font-size:0.8em;
		margin-top:80px;
	}

	.text_montserrat::before{
		content: '';
	    height: 3px;
	    width: 15px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -25px;
	}

	.title_name{
		color:$medium-grey;
		font-size:0.8em;
	}

	.title_zone:before{
		display: none;
	}

	.title_zone{
		font-size: 1.5em;
	}
}

.content_purpose_2{
	background-color:$light-electric-blue;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	padding-top:60px;
	padding-bottom:50px;
	margin-bottom:80px;
	margin-top:80px;

	p, h1{
		color:$wolf-blue;
	}

	p{
		margin-left:30px;
		margin-top:30px;
	}

	.title_zone::before{
		content: '';
	    display: block;
	    height: 4px;
	    width: 20px;
	    position: absolute;
	    background-color: white;
	    z-index: 0;
	    margin-left: -28px;
	    margin-top: 19px;
	}

	a{
		font-weight: 800;
		color:$wolf-blue;
		text-decoration: underline;
	}
}

.content_purpose_3{
	.title_zone{
		font-size:1.5em;
		margin-left:30px;
	}

	.title_zone::before{
	    height: 4px;
	    width: 18px;
	    margin-left: -28px;
	    margin-top: 13px;
	}

	.text_description{
		margin-left:40px;
		font-size:0.8em;
		line-height:1.8em;
	}
}

.content_purpose_4{
	margin-top:80px;

	.title_zone{
		font-size:1.7em;
		margin-left:30px;
		margin-top:30px;
	}

	.title_zone::before{
	    height: 4px;
	    width: 18px;
	    margin-left: -28px;
	    margin-top: 13px;
	}

	.text_description{
		margin-left:40px;
		margin-top:40px;
	}

	ul{
		color:$medium-grey;
		font-family: 'Montserrat', sans-serif;
		font-size:0.9em;
		margin-left:55px;
		font-weight:400;
		list-style: url(../img/puce_liste.svg);

		li{
			margin-top:20px;
		}
	}

	.second_content{
		margin-top:80px;
	}
}

.content_purpose_5{
	margin-top:80px;


	.are_you_ready{
		background-color:$wolf-blue;
		padding-top:100px;
		padding-bottom:100px;
		padding-left:100px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		.title_level_1{
			color:white;
			font-size:3em;
			font-weight:600;
		}

		.title_level_1::after{
			content: '';
		    display: block;
		    height: 13px;
		    width: 100%;
		    background-color: $light-electric-blue;
		    margin-top: -18px;
		    margin-left: 131px;
		}

		.text_description{
			color:white;
			margin-top:30px;
			line-height:2em;
			margin-left:40px;
		}
	}

	.techno_logo{
		margin-top: -113px;
		margin-bottom:80px;
	    background-color: white;
	    padding-top: 61px;
	    padding-bottom: 60px;
	    padding-left: 57px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		img{
			width:250px;
		}
	}
}


/**********************************************************************************************************************************************************/
/* CLOUD NATIVE + CRITICAL PAGES */
/**********************************************************************************************************************************************************/


.services_zone_1{
	padding-top:170px;

	img{
		width:100%;
	}


	.illustration_nuage{
		position: absolute;
	    width: 53%;
	    top: -67px;
	    left: -92px;
	}

	.illustration_nuage_iot{
		position: absolute;
	    width: 53%;
	    top: -67px;
	    left: -92px;
	}

	.title_subcategory{
		font-size:1em;
		font-weight:400;
		margin-top:30px;
		margin-bottom:10px;
	}

	.title_level_1{
		font-size:2.5em;
	}

	.text_montserrat::before{
		content: '';
	    height: 5px;
	    width: 20px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 8px;
	    margin-left: -30px;
	}

	.text_montserrat{
		margin-left:60px;
		margin-top:20px;
		font-size:0.9em;
	}
}

.services_zone_2{
	margin-bottom:50px;

	.title_zone{
		font-size:1.5em;
	}
	.title_zone::before{
		margin-top:12px;
	}

	.bis{
		margin-bottom: 40px;
	}

	.text_description{
		margin-top:10px;
		margin-bottom:50px;
	}

	.margin_left_20{
		margin-left:0px;
	}

	.title_name{
		font-size:1em;
	}

	.title_name::before{
		content: '';
	    height: 5px;
	    width: 15px;
	    background-color: #A7E4EA;
	    display: block;
	    position: absolute;
	    margin-top: 10px;
	    margin-left: -25px;
	}

	.icone{
		height: 50px;
	}
}

.services_zone_3{
	background-color:$super-light-grey2;
	padding-top:80px;
	padding-bottom:80px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

	.text_description{
		margin-top:30px;
		margin-bottom:50px;
	}

	.technical_item{
		display:block;
		background-color:white;
		text-align:center;
		padding:27px 30px 20px 30px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		margin-bottom:30px;
		height:120px;

		.text_description{
			font-size:1.1em;
			margin-bottom:0px;
			margin-top:0px;
			font-weight:600;
			vertical-align:middle;
		}

		.text_description::after{
			content: '';
		    height: 3px;
		    width: 10%;
		    background-color: $light-electric-blue;
		    display: block;
		    margin-top:15px;
		    margin-left:45%;

		}

		.v_align{
			margin-top:20px;
		}
	}
}

.services_zone_3_bis{
	background-color:$super-light-grey2;
	padding-top:80px;
	margin-top:50px;
	padding-bottom:80px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

	.title_zone{
		font-size:1.5em;
		font-weight:500;
		margin-bottom:50px;
	}

	.title_zone::before{
		margin-top:12px;
	}

	.text_description{
		margin-top:30px;
		margin-bottom:50px;
	}

	.technical_item{
		display:block;
		background-color:white;
		text-align:center;
		padding:27px 30px 20px 30px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		margin-bottom:30px;
		height:120px;

		.text_description{
			font-size:1.1em;
			margin-bottom:0px;
			margin-top:0px;
			font-weight:600;
			vertical-align:middle;
		}

		.v_align_1{
			margin-top:17px;
		}

		.v_align_2{
			margin-top:5px;
		}

		.v_align_3{
			margin-top:22px;
		}
	}
}

.services_zone_4{
	margin-top:50px;


	.are_you_ready{
		background-color:$light-electric-blue;
		padding-top:80px;
		padding-bottom:50px;
		padding-left:100px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		.title_level_1{
			color:$wolf-blue;
			font-size:3em;
			font-weight:600;
		}

		.title_level_1::after{
			content: '';
		    display: block;
		    height: 13px;
		    width: 100%;
		    background-color: white;
		    margin-top: -18px;
		    margin-left: 131px;
		}

		.text_description{
			color:$wolf-blue;
			margin-top:30px;
			line-height:2em;
		}
	}

	.techno_logo{
		margin-top:-230px;
		background-color:$wolf-blue;
		padding-top:80px;
		padding-bottom:45px;
		padding-left:100px;
		box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
		webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

		img{
			margin-bottom:40px;
			width:145px;
		}
	}
}

.services_zone_5{
	margin-top:60px;

	img{
		width:100%;
	}

	.title_zone{
		font-size:1.8em;
		margin-top:100px;
	}

	.title_zone::before{
		margin-top:15px;
	}

	.text_description{
		line-height: 2em;
	    margin-top: 30px;
	    margin-left: 20px;
	}
}

.services_zone_6{
	margin-top:20px;

	img{
		width:100%;
		margin-top:80px;
	}

	.title_zone{
		font-size:1.8em;
		margin-top:100px;
	}

	.title_zone::before{
		margin-top:15px;
	}

	.text_description{
		line-height: 2em;
	    margin-top: 30px;
	    margin-left: 20px;
	}

	.title_name{
		font-size:0.8em;
		color:$medium_grey;
		margin-top:15px;
		margin-bottom:20px;
		text-align:center;
	}

	.icone{
		width:80%;
		margin-left:10%;
		margin-top:0px;
	}

	.bis{
		.title_name_2{
			color: #016099;
		    font-size: 1.2em;
		    font-family: 'Montserrat', sans-serif;
		    font-weight: 700;
		    margin-top:40px;
		}

		.text_description{
			line-height: 2em;
		    margin-top: 10px;
		    margin-left: 0px;
		}
	}
}

.services_zone_7{
	background-color:$wolf-blue;
	padding-top:80px;
	padding-bottom:80px;
	margin-top:80px;

	.text_description{
		color:white;
		margin-top:30px;
		line-height:2em;
	}

	.title_zone{
		margin-top:0px;
		color:white;
		font-size: 1.8em;
	}

	.title_zone::before{
		margin-top:15px;
	}

	.btn_white{
		margin-top: 30px;
	}
}

.services_zone_8{
	margin-top:80px;
	padding-bottom:0px;

	.title_zone{
		font-size: 1.8em;
		margin-left:35px;
	}

	.title_zone::before{
		margin-top:15px;
	}

	img{
		margin-top:40px;
	}

	.text_description{
		margin-left:50px;
		margin-top:50px;
		line-height:2em;
		margin-bottom:50px;
	}

	a{
		margin-left:50px;
	}
}

.services_zone_9{
	margin-top:120px;
	padding-bottom:40px;

	.title_zone{
		font-size: 1.8em;
		margin-left:35px;
	}

	.title_zone::before{
		margin-top:15px;
	}

	img{
		margin-top:0px;
	}

	.text_description{
		margin-left:50px;
		margin-top:30px;
		line-height:2em;
		margin-bottom:50px;
	}

	a{
		margin-left:50px;
	}

	.text_deux{
		margin-top:15px!important;
		margin-left:0!important;
	}
}

.services_zone_10{
	background-color:$super-light-grey2;
	padding-top:80px;
	padding-bottom:80px;
	box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	moz-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);
	webkit-box-shadow:0 0 19px 0px rgba(0, 0, 0, 0.1);

	.title_zone{
		margin-bottom: 60px;

	}

	.title_name{
		margin-bottom: 60px;
		font-size: 1em;
	}

	img{
		margin-bottom: 10px;
		width: 100px;
	}
}



/**********************************************************************************************************************************************************/
/* BLOG  */
/**********************************************************************************************************************************************************/

	/* PAGE INDEX BLOG */

	.blog_index{
		padding-top:190px;
		padding-bottom:80px;

		.blog_index_article{

			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
			margin-bottom: 50px;

			img{
                height: 100%;
				width: 100%;
                object-fit: cover;
				-webkit-transition: all 0.8s;
				-moz-transition: all 0.8s;
				-o-transition: all 0.8s;
				transition: all 0.8s;
			}

			img:hover{
				filter: grayscale(100%);
			}

			a{
				text-decoration: none;
			}

			p{
				font-family: 'Montserrat', sans-serif;
				font-size: 1rem;
				font-weight: 500;
				color: $wolf_blue;
				padding-bottom: 24px;
    			margin-left: 63%;
    			margin-top: 30px;
    			-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			p:hover{
				color: $light-electric-blue;
				text-decoration: underline;
			}

			h1{
				font-family: 'EB Garamond', serif;
				color: $medium-grey;
				font-size: 1.3rem;
				margin-left: 30px;
				margin-top: 30px;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				transition: all 0.3s;
			}

			h1:hover{
				color: $dark_grey;
			}
		}
	}

	.blog_article{
		padding-top:190px;
		padding-bottom:80px;

		.header{
			margin-bottom: 50px;
			img{
				width: 100%;
			}

			h1{
				font-family: 'EB Garamond', serif;
				font-size: 2rem;
				color:$wolf-blue;
				font-weight: 600;
			}

			h1::before{
				content: '';
			    height: 5px;
			    width: 25px;
			    background-color: #A7E4EA;
			    display: block;
			    position: absolute;
			    margin-top: 20px;
			    margin-left: -36px;
			}

			p{
				font-family: 'EB Garamond', serif;
				color: $medium-grey;
				font-size: 1rem;
				margin-top: 30px;
				font-weight: 500;
				margin-left: 5px;
			}
		}

        .content {
            font-family: 'EB Garamond', serif;
            font-size: 1rem;
            color:$medium-grey;
            font-weight: 400;
            margin-left: 60px;

    		h1{
    			font-family: 'EB Garamond', serif;
    			font-size: 1.7rem;
    			color:$medium-grey;
    			font-weight: 700;
    			margin-bottom: 20px;
    			margin-left: 30px;
    		}

    		h1::before{
    			content: '';
    		    height: 5px;
    		    width: 20px;
    		    background-color: #A7E4EA;
    		    display: block;
    		    position: absolute;
    		    margin-top: 15px;
    		    margin-left: -30px;
    		}

    	   h2{
    			font-family: 'EB Garamond', serif;
    			font-size: 1.4rem;
    			color:$medium-grey;
    			font-weight: 700;
    			margin-bottom: 20px;
    			margin-left: 45px;
    		}

    		h3{
    			font-family: 'EB Garamond', serif;
    			font-size: 1.2rem;
    			color:$medium-grey;
    			font-weight: 700;
    			margin-bottom: 10px;
    			margin-left: 60px;
    		}

    		em{
    			font-family: 'EB Garamond', serif;
    			font-size: 1rem;
    			color:$medium-grey;
    			font-weight: 400;
    			font-style: italic;
    		}

    		strong{
    			font-family: 'EB Garamond', serif;
    			font-size: 1rem;
    			color:$medium-grey;
    			font-weight: 600;
    		}

    		a{
    			color:$wolf-blue;
    			font-weight: 700;
    			text-decoration: underline;
    			-webkit-transition: all 0.3s;
    			-moz-transition: all 0.3s;
    			-o-transition: all 0.3s;
    			transition: all 0.3s;
    		}

    		a:hover{
    			color: $dark_grey;
    		}

    		blockquote{
    			width: 70%;
    			font-family: 'EB Garamond', serif;
    			font-size: 1rem;
    			color:$medium-grey;
    			font-weight: 400;
    			font-style: italic;
    			margin-left: 60px;
    			margin-top: 30px;
    			margin-bottom: 30px;
    			padding-top:30px;
    			padding-bottom:15px;
    			padding-left:20px;
    			padding-right:20px;
    			border:solid 5px transparent;
    			border-left-color: $dark_blue;

    			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			background-color:white;
    		}

            // code snippet
    		pre{
    			width: 70%;
    			font-family: 'Montserrat', serif;
    			font-size: 0.8rem;
    			color:$medium-grey;
    			font-weight: 400;
    			margin-left: 60px;
    			margin-top: 30px;
    			margin-bottom: 30px;
    			padding-top:30px;
    			padding-bottom:15px;
    			padding-left:20px;
    			padding-right:20px;
    			border:solid 5px transparent;
    			border-left-color: $medium_blue;

    			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			background-color:white;
    		}

    		ul{
    			font-family: 'EB Garamond', serif;
    			font-size: 1rem;
    			color:$medium-grey;
    			font-weight: 400;
    			margin-left: 110px;
    			list-style: url('../img/puce_list.svg');
    			margin-top:20px;
    			margin-bottom: 30px;

    			li{
    				margin-top:5px;
    			}
    		}

    		img{
    			-webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			-moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);
    			margin-left: 60px;
    		}
        }
	}
