/* ========================================================================== */
/* Defimitions of elements and classes */
/* ========================================================================== */

footer {
  width: 100%;

  background-color: var(--super-light-grey2);

  padding-top: 5rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.1);

  color: var(--medium-grey);
}

/* Addresses */
/* ================ */
#sofooterContactgrid .adresses {
  color: var(--medium-grey);
}

#sofooterContactgrid .adresses > p:nth-of-type(1) {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0;
  color: var(--medium-grey);
}
#sofooterContactgrid .adresses > p:nth-of-type(1)::before {
  content: '';
  display: block;
  width: 0.8em;
  position: absolute;
  background-color: var(--light-electric-blue);
  margin-left: -1.5em;

  /* On boostrap, for body line-height: 1.5 */
  /* We have 1.3 + 0.2 = 1.5 */
  /* As it, the bar is on the baseline */
  /* But as the font have a height, so strange to be on the baseline */
  height: 0.2em;
  margin-top: 0.9em;
}

#sofooterContactgrid .adresses > p:nth-of-type(2) {
  font-size: 0.9rem;
  font-weight: 400;
}
/* List */
/* ===== */
#sofooter .liens_pages > ul {
  padding-left: 2rem;
}
#sofooter .liens_pages li {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

#sofooter .liens_pages a {
  color: var(--medium-grey);
  transition: color 0.3s;
}

#sofooter .liens_pages a:hover {
  color: var(--wolf-blue);
}

/* ========================================================================== */
/* Defnition of the Footer grid */
/* ========================================================================== */

#sofooter {
  display: grid;
  align-items: center;
  align-content: center;
}

/* Logo */
/* ==== */
#sofooterLogo {
  grid-area: sofooterLogo;
}

/* Services */
/* ======== */
#sofooterServices {
  grid-area: sofooterServices;
}

/* company */
/* ======= */
#sofooterCompany {
  grid-area: sofooterCompany;
}

/* hr */
/* == */
#sofooterHr {
  grid-area: sofooterHr;
  background-color: var(--super-light-grey);
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* Subfooter */
/* ========= */
#sofooterSubfooter {
  grid-area: sofooterSubfooter;
  font-size: 0.8em;
  font-weight: 400;
  display: flex;
}
#sofooterSubfooter > a:nth-child(2) {
  color: var(--medium-grey);
}
@media (max-width: 575px) {
  #sofooterSubfooter {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) {
  #sofooterSubfooter {
    justify-content: space-between;
  }
}

/* ========================================================================== */
/* Definition of the inner grid of 'Contact' */
/* ========================================================================== */

#sofooterContactgrid {
  grid-area: sofooterContactgrid;
  display: grid;
  align-items: center;
  align-content: center;
  grid-gap: 0;
}

/* Title « contact » */
/* ================= */
#sofooterContactgridTitle {
  grid-area: sofooterContactgridTitle;
  margin-bottom: 0;
  margin-left: 0;
}

/* Contact us link, with border*/
/* =========================== */
#sofooterContactgridContactus {
  grid-area: sofooterContactgridContactus;
  max-width: 13rem;
}

/* Social networks icônes (twitter + linkedin) */
/* =========================================== */
#sofooterContactgridSocialnetwork {
  grid-area: sofooterContactgridSocialnetwork;
}
#sofooterContactgridSocialnetwork svg {
  width: 2rem;
  margin-bottom: 1rem;
}
#sofooterContactgridSocialnetwork svg > path {
  fill: #a7e4ea;
  transition: fill 0.3s;
}
#sofooterContactgridSocialnetwork svg:hover > path {
  fill: #016099;
}

/* Grenoble address */
/* ================ */
#sofooterContactgridGrenoble {
  grid-area: sofooterContactgridGrenoble;
}

/* Lyon address */
/* ================ */
#sofooterContactgridLyon {
  grid-area: sofooterContactgridLyon;
}

/* ========================================================================== */
/* Positions of "grid-area' */
/* depends of the screen size  */
/* ========================================================================== */

@media (max-width: 575px) {
  /* Footer grid */
  /* =========== */

  #sofooter {
    grid-template-areas:
      'sofooterContactgrid'
      'sofooterServices'
      'sofooterCompany'
      'sofooterHr'
      'sofooterSubfooter';
    justify-content: center;
  }

  #sofooterLogo {
    display: none;
  }

  /* Inner grid of 'Contact' */
  /* ======================= */

  #sofooterContactgrid {
    grid-template-areas:
      'sofooterContactgridTitle'
      'sofooterContactgridContactus'
      'sofooterContactgridSocialnetwork'
      'sofooterContactgridGrenoble'
      'sofooterContactgridLyon';
  }

  #sofooterContactgridContactus,
  #sofooterContactgridSocialnetwork,
  #sofooterContactgridGrenoble,
  #sofooterContactgridLyon {
    margin-left: 2rem;
  }

  #sofooterContactgridContactus {
    margin: 2rem 0 2rem 2rem;
  }
}

@media (min-width: 576px) {
  /* Footer grid */
  /* =========== */

  #sofooter {
    grid-template-areas:
      'sofooterContactgrid  sofooterContactgrid'
      'sofooterServices     sofooterCompany'
      'sofooterHr           sofooterHr'
      'sofooterSubfooter    sofooterSubfooter';
    grid-template-columns: 50% 50%;
    justify-content: initial;
  }

  /* Inner grid of 'Contact' */
  /* ======================= */

  #sofooterContactgrid {
    grid-template-areas:
      'sofooterContactgridTitle      sofooterContactgridTitle'
      'sofooterContactgridContactus  sofooterContactgridSocialnetwork'
      'sofooterContactgridGrenoble   sofooterContactgridLyon';
    grid-template-columns: 50% 50%;
  }

  #sofooterContactgrid > div {
    margin: 2rem 0 2rem 2rem;
  }
}

@media (min-width: 992px) {
  /* Footer grid */
  /* =========== */

  #sofooter {
    grid-template-areas:
      'sofooterLogo        .                   sofooterContactgrid   sofooterContactgrid'
      '.                   .                   sofooterServices      sofooterCompany'
      'sofooterHr          sofooterHr          sofooterHr            sofooterHr'
      'sofooterSubfooter   sofooterSubfooter   sofooterSubfooter     sofooterSubfooter';
    /* Should be after */
    grid-template-columns:
      [sofooterLogo] calc(100% / 12) calc(100% / 12) calc(100% / 12 * 4)
      calc(100% / 12 * 6);
  }

  #sofooterLogo {
    display: block;
  }

  /* Inner grid of 'Contact' */
  /* ======================= */

  #sofooterContactgrid {
    grid-template-areas:
      'sofooterContactgridTitle      sofooterContactgridTitle          sofooterContactgridTitle     sofooterContactgridTitle'
      'sofooterContactgridContactus  sofooterContactgridSocialnetwork  sofooterContactgridGrenoble  sofooterContactgridLyon';
    grid-template-columns: auto auto 30% 30%;
  }
}
