/* ========================================================================== */
/* Defimitions of elements and classes */
/* ========================================================================== */

footer {
  width: 100%;

  background-color: var(--super-light-grey2);

  padding-top: 5rem;
  padding-bottom: 2rem;
  box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.1);

  color: var(--medium-grey);
}

/* ========================================================================== */
/* Defnition of the Footer grid */
/* ========================================================================== */

#sofooter {
  display: grid;
  align-items: center;
  align-content: center;
}

/* Logo */
/* ==== */
#footer-logo {
  grid-area: footer-logo;
}

/* Services */
/* ======== */
#footer-services {
  grid-area: footer-services;
}

/* company */
/* ======= */
#footer-company {
  grid-area: footer-company;
}

/* hr */
/* == */
#footer-hr {
  grid-area: footer-hr;
  background-color: var(--super-light-grey);
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* Subfooter */
/* ========= */
#footer-subfooter {
  grid-area: footer-subfooter;
  font-size: 0.8em;
  font-weight: 400;
  display: flex;
}
@media (max-width: 575px) {
  #footer-subfooter {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) {
  #footer-subfooter {
    justify-content: space-between;
  }
}

/* ========================================================================== */
/* Definition of the inner grid of 'Contact' */
/* ========================================================================== */

#footer-subgridadress {
  grid-area: footer-subgridadress;
  display: grid;
  align-items: center;
  align-content: center;
  grid-gap: 0;
}

/* Title « contact » */
/* ================= */
#footer-subgridadress-title {
  grid-area: footer-subgridadress-title;
  margin-bottom: 0;
  margin-left: 0;
}

/* Contact us link, with border*/
/* =========================== */
#footer-subgridadress-contactus {
  grid-area: footer-subgridadress-contactus;
  max-width: 13rem;
}

/* Social networks icônes (twitter + linkedin) */
/* =========================================== */
#footer-subgridadress-socialnetwork {
  grid-area: footer-subgridadress-socialnetwork;
}
.footer-subgridadress-socialnetwork-svg {
  width: 2rem;
  margin-bottom: 1rem;
}
.footer-subgridadress-socialnetwork-svg-path {
  fill: #a7e4ea;
  transition: fill 0.3s;
}
.footer-subgridadress-socialnetwork-svg:hover
  > .footer-subgridadress-socialnetwork-svg-path {
  fill: #016099;
}

/* Grenoble address */
/* ================ */
#footer-subgridadress-grenoble {
  grid-area: footer-subgridadress-grenoble;
}

/* Lyon address */
/* ================ */
#footer-subgridadress-lyon {
  grid-area: footer-subgridadress-lyon;
}

/* ========================================================================== */
/* Positions of "grid-area' */
/* depends of the screen size  */
/* ========================================================================== */

@media (max-width: 575px) {
  /* Footer grid */
  /* =========== */

  #sofooter {
    grid-template-areas:
      'footer-subgridadress'
      'footer-services'
      'footer-company'
      'footer-hr'
      'footer-subfooter';
    justify-content: center;
  }

  #footer-logo {
    display: none;
  }

  /* Inner grid of 'Contact' */
  /* ======================= */

  #footer-subgridadress {
    grid-template-areas:
      'footer-subgridadress-title'
      'footer-subgridadress-contactus'
      'footer-subgridadress-socialnetwork'
      'footer-subgridadress-grenoble'
      'footer-subgridadress-lyon';
  }

  #footer-subgridadress-contactus,
  #footer-subgridadress-socialnetwork,
  #footer-subgridadress-grenoble,
  #footer-subgridadress-lyon {
    margin-left: 2rem;
  }

  #footer-subgridadress-contactus {
    margin: 2rem 0 2rem 2rem;
  }
}

@media (min-width: 576px) {
  /* Footer grid */
  /* =========== */

  #sofooter {
    grid-template-areas:
      'footer-subgridadress  footer-subgridadress'
      'footer-services     footer-company'
      'footer-hr           footer-hr'
      'footer-subfooter    footer-subfooter';
    grid-template-columns: 50% 50%;
    justify-content: initial;
  }

  /* Inner grid of 'Contact' */
  /* ======================= */

  #footer-subgridadress {
    grid-template-areas:
      'footer-subgridadress-title      footer-subgridadress-title'
      'footer-subgridadress-contactus  footer-subgridadress-socialnetwork'
      'footer-subgridadress-grenoble   footer-subgridadress-lyon';
    grid-template-columns: 50% 50%;
  }

  .footer-subgridadress-largescreen2ndline {
    margin: 2rem 0 2rem 2rem;
  }
}

@media (min-width: 992px) {
  /* Footer grid */
  /* =========== */

  #sofooter {
    grid-template-areas:
      'footer-logo        .                   footer-subgridadress   footer-subgridadress'
      '.                   .                   footer-services      footer-company'
      'footer-hr          footer-hr          footer-hr            footer-hr'
      'footer-subfooter   footer-subfooter   footer-subfooter     footer-subfooter';
    /* Should be after */
    grid-template-columns:
      [footer-logo] calc(100% / 12) calc(100% / 12) calc(100% / 12 * 4)
      calc(100% / 12 * 6);
  }

  #footer-logo {
    display: block;
  }

  /* Inner grid of 'Contact' */
  /* ======================= */

  #footer-subgridadress {
    grid-template-areas:
      'footer-subgridadress-title      footer-subgridadress-title          footer-subgridadress-title     footer-subgridadress-title'
      'footer-subgridadress-contactus  footer-subgridadress-socialnetwork  footer-subgridadress-grenoble  footer-subgridadress-lyon';
    grid-template-columns: auto auto 30% 30%;
  }
}

/* ========================================================================== */
/* Addresses */
/* ========================================================================== */

.footer-address-name {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0;
}
.footer-address-name::before {
  content: '';
  display: block;
  width: 0.8em;
  position: absolute;
  background-color: var(--light-electric-blue);
  margin-left: -1.5em;

  /* On boostrap, we have line-height: 1.5 */
  /* Therefore if we want that the hyphen has 0.4 em of blanck space at bottom */
  /* we must have a margin top of 0.9 em */
  /* We have 1.3 + 0.2 === 1.5 */
  /* And 1.3 === 0.9 + 0.4 */
  height: 0.2em;
  margin-top: 0.9em;
}

.footer-address-detail {
  font-size: 0.9rem;
  font-weight: 400;
}

/* ========================================================================== */
/* List */
/* ========================================================================== */
.footer-nav {
  padding-left: 2rem;
}
.footer-nav-li {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.footer-nav-a {
  color: var(--medium-grey);
  transition: color 0.3s;
}

.footer-nav-a:hover {
  color: var(--wolf-blue);
}
