header {
  height: 5rem;
  margin-top: 2rem;
}
header > div#navBarMobile,
header > div.navBarMobile_scroll {
  display: none;
}

/* ========================================================================== */
/* Logo sogilis on the left */
/* ========================================================================== */
header > div#navBarDesktop {
  height: 100%;
}

header > div#navBarDesktop > a#soheaderLogo {
  width: 15%;
  padding: 1rem 0 1rem 0;
}

header > div#navBarDesktop > a > img {
  height: 100%;
}

/* ========================================================================== */
/* Navigation links, on the right */
/* ========================================================================== */

header > div#navBarDesktop > nav {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  /* Needed, for alignment. As it, the last child is aligned */
  /* See above, we have `padding-right: 1.5rem' */
  margin-right: -1.5rem;
}

header > div#navBarDesktop > nav a[href],
header > div#navBarDesktop > nav > div.dropdown > a {
  position: relative;

  /* As it, on hoover, the small bar appears */
  padding-right: 1.5rem;

  border: unset;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

header > div#navBarDesktop > nav > a {
  margin-left: 4rem;
}

header > div#navBarDesktop > nav > a,
header > div#navBarDesktop > nav > div.dropdown > a {
  color: var(--wolf-blue);
}

/* Dropdown links (hidden by default) */
/* ================================== */

header > div#navBarDesktop > nav > div.dropdown {
  height: 100%;
  display: flex;
}

header > div#navBarDesktop > nav > div.dropdown > a {
  align-self: center;
}

header > div#navBarDesktop > nav > div.dropdown > div.dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;

  position: absolute;
  margin-top: 5rem;
  padding: 1rem 3rem;
  background-color: var(--super-light-grey);
  text-align: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;

  transform: translateX(calc(-50% + 3rem));
  max-height: 15rem;
  overflow-y: hidden;
  transition: visibility 0s, opacity 0.3s linear, max-height 0.5s linear;
  visibility: visible;
  opacity: 0;
}

/* Show the dropdown menu on hover */
header > div#navBarDesktop > nav > div.dropdown:hover > div.dropdown-content {
  display: flex;
  visibility: visible;
  opacity: 1;
  max-height: 15rem;
}

/* Links inside the dropdown */
header > div#navBarDesktop > nav > div.dropdown > div.dropdown-content > a {
  color: black;
  margin: 1rem auto;
}
