header {
    height: 5rem;
}
header > div#navBarMobile,
header > div.navBarMobile_scroll {
    display: none;
}

/* ========================================================================== */
/* Logo sogilis on the left */
/* ========================================================================== */

header > div#navBarDesktop > a#soheaderLogo {
    width: 15%;
}

header > div#navBarDesktop > a > img {
    height: 100%;
}

/* ========================================================================== */
/* Navigation links, on the right */
/* ========================================================================== */

header > div#navBarDesktop >  nav {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    /* Needed, for alignment. As it, the last child is aligned */
    /* See above, we have `padding-right: 1.5rem' */
    margin-right: -1.5rem;
}

header > div#navBarDesktop > nav a[href],
header > div#navBarDesktop > nav button {
    position: relative;

    /* As it, on hoover, the small bar appears */
    padding-right: 1.5rem;

    border: unset;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

header > div#navBarDesktop > nav > a {
    margin-left: 4rem;
}

header > div#navBarDesktop > nav > a,
header > div#navBarDesktop > nav > div.dropdown > button {
    /* TODO $wolf-blue when transform this file to SCSS */
    color: #016099;
}

/* The small blue bar that appears on hover of links */
/* ================================================= */

/* We must have too:  */
/* header > div#navBarDesktop > nav a[href], */
/* header > div#navBarDesktop > nav button { */
/* position: relative; */
/* padding-right: 1.5rem; */
/* } */
/* A parent element should have a z-index heigher, otherwise not displayed */

/* TODO should be factorize with footer.css */
header > div#navBarDesktop > nav a::after,
header > div#navBarDesktop > nav button::after {
    content: '';
    position: absolute;
    display: block;

    /* A parent element should have a z-index heigher, otherwise not displayed */
    z-index: -1;

    top: 0.65em;
    /* istead of using rule `right: 0`, because otherwise
    transition start from the right to the left
     */
    left: calc(100% - 2.5em);

    width: 0;
    height: 0.5em;
    /* TODO we could use a variable */
    background-color: #A7E4EA;
    transition: width 0.3s;
}

header > div#navBarDesktop > nav a:hover::after,
header > div#navBarDesktop > nav button:hover::after {
    width: 2.5rem;
}

/* Dropdown links (hidden by default) */
/* ================================== */

header > div#navBarDesktop > nav > div.dropdown {
    height: 100%;
    display: flex;
}

header > div#navBarDesktop > nav > div.dropdown > button {
    align-self: center;
}

header > div#navBarDesktop > nav > div.dropdown > div.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    margin-top: 5rem;
    padding: 1rem 3rem;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;

    transform: translateX(-50%);
    max-height: 15rem;
    overflow-y: hidden;
    transition: visibility 0s, opacity 0.3s linear, max-height 0.5s linear;
    visibility: visible;
    opacity: 0;
}

/* Show the dropdown menu on hover */
header > div#navBarDesktop > nav > div.dropdown:hover > div.dropdown-content {
    display: flex;
    visibility: visible;
    opacity: 1;
    max-height: 15rem;
}

/* Links inside the dropdown */
header > div#navBarDesktop > nav > div.dropdown > div.dropdown-content > a {
    color: black;
    margin: 1rem auto;
}

