header {
  height: 5rem;
  margin-top: 2rem;
}
#navBarMobile,
.navBarMobile_scroll {
  display: none;
}

/* ========================================================================== */
/* Logo sogilis on the left */
/* ========================================================================== */
#navBarDesktop {
  display: flex;
  height: 100%;
}

#navBarDesktopLeft {
  width: 15%;
  padding: 1rem 0 1rem 0;
}

#navBarDesktopLeft > img {
  height: 100%;
}

/* ========================================================================== */
/* Navigation links, on the right */
/* ========================================================================== */

#navBarDesktopRight {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  /* Needed, for alignment. As it, the last child is aligned */
  /* See above, we have `padding-right: 1.5rem' */
  margin-right: -1.5rem;
}

#navBarDesktopRight a {
  position: relative;

  /* As it, on hoover, the small bar appears */
  padding-right: 1.5rem;

  border: unset;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;

  color: var(--wolf-blue);
}

#navBarDesktopRight > a {
  margin-left: 4rem;
}

/* Dropdown links (hidden by default) */
/* ================================== */

#navBarDesktopDropdown {
  height: 100%;
  display: flex;
}

#navBarDesktopDropdown > a {
  align-self: center;
}

#navBarDesktopDropdownContent {
  display: none;
  flex-direction: column;
  align-items: center;

  position: absolute;
  margin-top: 5rem;
  padding: 1rem 3rem;
  background-color: var(--super-light-grey);
  text-align: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;

  transform: translateX(calc(-50% + 3rem));
  max-height: 15rem;
  overflow-y: hidden;
  transition: visibility 0s, opacity 0.3s linear, max-height 0.5s linear;
  visibility: visible;
  opacity: 0;
}

/* Show the dropdown menu on hover */
#navBarDesktopDropdown:hover > #navBarDesktopDropdownContent {
  display: flex;
  visibility: visible;
  opacity: 1;
  max-height: 15rem;
}

/* Links inside the dropdown */
#navBarDesktopDropdownContent > a {
  color: black;
  margin: 1rem auto;
}
