/*
 * In this screen size, we have three tags child
 * On the top left, the icon of Sogilis
 * On the top right, a button with three bar. When we click on it
 *      this button is transormed to a cross and the nav button appears.
 * When we click on the top right button, the tag <nav> appears smoothy..
 */

header {
  margin-top: 1rem;
}

#navBarDesktop {
  display: none;
}

#navBarMobile {
  display: flex;
  align-items: center;
}

#navBarMobile > a {
  height: 2rem;
}

/* When we scroll */
.content_header_scroll {
  /* Others declarations into header.html */
  padding: 0;
}

/* ========================================================================== */
/* =========================================================================== */
/* Logo on the top left of the screen */
/* =========================================================================== */

#navBarMobile > a > img {
  height: 122%;
}

/* ========================================================================== */
/* ========= Button on the top right of the screen ========================== */
/* Describe the three bars icon */
/* ========================================================================== */

#headerMenuButtonMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#headerMenuButtonMobile::before,
#headerMenuButtonMobile > div,
#headerMenuButtonMobile::after {
  background-color: var(--dark-grey);
  border-radius: 1px;
  height: 0.1875rem;
  width: 2rem;
  /*
     * Animation when we click on the button: transform three bars to cross and
     * vice versa
     */
  transition: transform 0.3s;
}

#headerMenuButtonMobile::before,
#headerMenuButtonMobile::after {
  content: ' ';
}
/* ========================================================================== */
/* ========= Nav tag (not displayed when the page is loaded) ================ */
/* ========================================================================== */

#headerMainMenuMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: white;

  /* Animated when `.menuMobileIsDisplayed` class is appended or removed. */
  opacity: 0;
  transform: scale(0);
  transition-property: transform, opacity;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Center `ul` element in the page */
/* ========================================================================== */

/* The goal of this two `div` is simply to center the `ul` */
/* between two `div`. */
/* Only the first `div` contains elements. */
#headerMainMenuMobile > div:nth-child(1),
#headerMainMenuMobile > div:nth-child(3) {
  flex: 1 1 auto;
}

#headerMainMenuMobile > ul {
  flex: 0 1 auto;
  /* Because of reboot.css */
  padding-left: 0;
}

/* The small green line in the first `div` */
/* ========================================================================== */

/* In this `div`, there is the green line */
/* (it's the pseudo-element `::before`) */
/* This pseudo-element have `margin-top: 50%` */
#headerMainMenuMobile > div:nth-child(1) {
  display: flex;
  align-items: center;
}
#headerMainMenuMobile > div:nth-child(1)::before {
  content: '';
  margin-top: 50%;
  width: 50vw;
  height: 2px;
  background-color: var(--light-electric-blue);
}

/* Styles for `ul` element, with anchors */
/* ========================================================================== */

#headerMainMenuMobile a {
  color: var(--wolf-blue);
  font-family: var(--font-serif);
  font-weight: 800;
}
@media (max-width: 575px) {
  #headerMainMenuMobile a {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) {
  #headerMainMenuMobile a {
    font-size: 2rem;
  }
}
#headerMainMenuMobile li {
  padding: 0.5rem 0;
  /* Needed for animation, of `li` elements */
  transition: transform 400ms 510ms;
}
#headerMainMenuMobile a:active {
  font-weight: 500;
}
#headerMainMenuMobile a:hover {
  text-decoration: underline;
}

/*
 * Following declarations are needed for animation of `li` when
 * `menuMobileIsDisplayed` css class is append
 * =====================
 */
#headerMainMenuMobile li:nth-child(odd) {
  transform: translateX(30%);
}
#headerMainMenuMobile li:nth-child(even) {
  transform: translateX(-30%);
}

/* The last `li` tag is not animated */
/* ===================== */
#headerMainMenuMobile li:last-child {
  transform: none;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ======================= With class .menuMobileIsDisplayed ================ */
/* ========================================================================== */
/* ========================================================================== */

/*
 * Some following declarations are animated like `transition` css attribute
 * defined above
 */

/* ========================================================================== */
/* ========= Button on the top right of the screen ========================== */
/* Three lines icons are transformed to cross when menuMobileIsDisplayed */
/* ========================================================================== */

#headerMenuButtonMobile.menuMobileIsDisplayed {
  /* Should be on top of all elements, even the `nav` element.. */
  z-index: 2;
}

#headerMenuButtonMobile.menuMobileIsDisplayed::before {
  /* Following declaration is animated thanks `transition:` attribute */
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}

#headerMenuButtonMobile.menuMobileIsDisplayed::after {
  /* Following declaration is animated thanks `transition:` attribute */
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}

#headerMenuButtonMobile.menuMobileIsDisplayed > div {
  /* Following declaration is animated thanks `transition:` attribute */
  background-color: transparent;
}

/* ========================================================================== */
/* ========= Main screen (nav tag) (displayed) =========================== */
/* ========================================================================== */

body.menuMobileIsDisplayed {
  overflow: hidden;
}

#headerMainMenuMobile.menuMobileIsDisplayed {
  /* Should be above all other elements, except the cross button. */
  z-index: 1;
  /* Following declaration is animated thanks `transition:` attribute */
  opacity: 1;
  /* Following declaration is animated thanks `transition:` attribute */
  transform: scale(1);
}

#headerMainMenuMobile.menuMobileIsDisplayed li:nth-child(odd),
#headerMainMenuMobile.menuMobileIsDisplayed li:nth-child(even) {
  /* Following declaration is animated thanks `transition:` attribute */
  transform: translateX(0);
}
