header {
  height: 5rem;
  margin-top: 2rem;
}
#header-mobile {
  display: none;
}

/* ========================================================================== */
/* Logo sogilis on the left */
/* ========================================================================== */
#header-desktop {
  display: flex;
  height: 100%;
}

#header-desktop-left {
  width: 15%;
  padding: 1rem 0 1rem 0;
}

#header-desktop-left-logo {
  height: 100%;
}

/* ========================================================================== */
/* Navigation links, on the right */
/* ========================================================================== */

#header-desktop-right {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  /* Needed, for alignment. As it, the last child is aligned */
  /* See above, we have `padding-right: 1.5rem' */
  margin-right: -1.5rem;
}

.header-desktop-right-text {
  position: relative;

  /* As it, on hoover, the small bar appears */
  padding-right: 1.5rem;

  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.header-desktop-right-category {
  margin-left: 4rem;
  color: var(--wolf-blue);
}

/* Dropdown links (hidden by default) */
/* ================================== */

#header-desktop-right-dropdown {
  height: 100%;
  display: flex;
}

#header-desktop-right-dropdown-title {
  align-self: center;
}

#header-desktop-right-dropdown-content {
  display: none;
  flex-direction: column;
  align-items: center;

  position: absolute;
  margin-top: 5rem;
  padding: 1rem 3rem;
  background-color: var(--super-light-grey);
  text-align: center;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;

  transform: translateX(-25%);
  max-height: 15rem;
  overflow-y: hidden;
  transition: visibility 0s, opacity 0.3s linear, max-height 0.5s linear;
  visibility: visible;
  opacity: 0;
}

/* Show the dropdown menu on hover */
#header-desktop-right-dropdown:hover > #header-desktop-right-dropdown-content {
  display: flex;
  visibility: visible;
  opacity: 1;
  max-height: 15rem;
}

.header-desktop-right-dropdown-content-link {
  margin: 1rem auto;
}

/* Links inside the dropdown */
.header-desktop-right-dropdown-content-link,
.header-desktop-right-dropdown-content-link:hover {
  color: black;
}

/* Search */
.search-bar__input {
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.5s;
  color: #0056b3;
}

.search-bar__input--active {
  margin-left: 0.5em;
  width: 10em;
}

.search-bar__results {
  top: 116px;
  padding: 0 4em;
  margin: 2em 0 0 0;
}

.dropdown-content-company {
  margin-left: 60px;

  .bar-deco {
    padding-right: 0;
  }
}
