main {
  padding-top: 12em;
}

/* The grid element on the index page */
/* ========================================================================== */

#blog_index {
  display: grid;
  grid-gap: 2em;
  grid-auto-rows: 22em;
  padding-bottom: 6em;
}

@media (min-width: 768px) {
  #blog_index {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  #blog_index {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Each cell of the grid */
/* ========================================================================== */

.blog_index_article {
  display: grid;
  grid-template-rows: 11.7em 6.3em 2em;
  grid-gap: 0.5em;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.15);
  text-decoration: none;
}
.blog_index_article:hover {
  text-decoration: none;
}

/* Image */
/* ========================================================================== */

.blog_index_article__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.8s;
}

.blog_index_article:hover .blog_index_article__img {
  filter: grayscale(100%);
}

/* The title and 'Lire la suite */
/* ========================================================================== */

.blog_index_article__text {
  margin: 0 1.6em;
  transition: color 0.5s;
}

/* The title */
/* ========================================================================== */

.blog_index_article__title {
  color: var(--dark-grey);
}

/* p is "Lire la suite" in French */
/* ========================================================================== */

.blog_index_article__readmore {
  font-weight: 500;
  color: var(--wolf-blue);
  text-align: right;
}

.blog_index_article:hover > .blog_index_article__readmore {
  color: var(--light-electric-blue);
  text-decoration: underline;
}
