main {
    padding-top:12rem;
}
/* The grid element on the index page */
/* ================================== */

main > #blog_index {
    display: grid;
    grid-gap: 2rem;
    padding-top: 12rem;
    padding-bottom: 4rem;
}

@media (min-width: 576px) {
    main > #blog_index {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    main > #blog_index {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 576px) and (max-width: 767px) {
    main > #blog_index {
        grid-auto-rows: 35rem;
    }
}
                          /* Pagination */
                          /* ===================== */

.blog_index_pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}


/* Article component */

.blog_index_article {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.15);

    /* This declaration is mandatory here */
    /* Simply declare it in #blog_index is not enough */
    text-decoration: none;
}

/* Article title and readmore link transitions */
.blog_index_article__title,
.blog_index_article__readmore {
    transition: all .3s;
}

/* Article image */
.blog_index_article__img {
    width: 100%;
    height: 13.75em;
    object-fit: cover;
    transition: all 0.8s;
}

.blog_index_article:hover .blog_index_article__img {
    filter: grayscale(100%);
}

/* Article content */
.blog_index_article__content {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    flex-grow: 1;
    padding: 1em;
}

/* Article title */
.blog_index_article__title {
    transition: all 0.3s;
    font-family: 'EB Garamond', serif;
    /* TODO $medium-grey when transform this file to SCSS */
    color: #707070;
    font-size: 1.4rem;
    align-self: center;
}

.blog_index_article:hover > .blog_index_article__title {
    /* TODO $dark_grey when transform this file to SCSS */
    color: #282E36;
}

/* Article readmore link */
.blog_index_article__readmore {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    /* TODO $wolf-blue when transform this file to SCSS */
    color: #016099;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0;
}

.blog_index_article:hover .blog_index_article__readmore {
    /* TODO $light-electric-blue when transform this file to SCSS */
    color: #A7E4EA;
    text-decoration: underline;
}
