# !!!!!!!!!!!!!!!!!! Warning !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# .dockerignore is a simlink of .gitiignore
# THEREFORE:
# THE FOLLOWING SYNTAX SHOULD BE COMPATIBLE BETWEEN .DOCKERIGNORE AND .GITIIGNORE
# See https://zzz.buzz/2018/05/23/differences-of-rules-between-gitignore-and-dockerignore/

/node_modules/
/dist/
/export/
/npm-debug.log
/yarn-error.log

# You can download manually Hugo binaries here
/bin/

# Generated resources (like css from scss)
/site/resources/_gen

# ./site/data/webpack.json is generated
/site/data/

# Idea IntelliJ
/.idea/

# Only yarn is advise.
/package-lock.json

site/static/admin/netlify-cms.js
site/static/admin/netlify-cms.js.map
