# If you process SCSS or SASS to CSS in your Hugo project, you need the Hugo
# extended version.
# See: https://gohugo.io/troubleshooting/faq/#i-get-this-feature-is-not-available-in-your-current-hugo-version
# Therefore followingdeclaration is mandatory for
# See: https://www.npmjs.com/package/hugo-bin/
hugo_bin_build_tags = "extended"
