{{ define "main" }}
        <div class="content_header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-2 offset-md-1 col-lg-2 offset-lg-2 col-xl-2 offset-xl-2">
                        <a href="index.html"><img src="{{ "images/logo_sogilis.svg" | relURL }}"></a>
                    </div>

                    <nav class="col-md-6 offset-md-3 col-lg-4 offset-lg-3 col-xl-5 offset-xl-2 ">
                        <div class="dropdown">
                            <button class="dropbtn">Services</button>
                            <div class="dropdown-content">
                                <a href="services-applications-cloud-native.html">Applications Cloud Natives</a>
                                <a href="services-embarques-et-iot.html">Logiciels Embarqués & IoT</a>
                                <a href="services-logiciels-critiques.html">Logiciels Critiques</a>
                            </div>
                        </div>
                        <a href="vision.html" class="menu_link_1">Notre Vision</a>
                        <a href="contact.html" class="menu_link_2">Contact</a>
                    </nav>
                </div>
            </div>
        </div>



        <div class="container blog_index">
            <div class="row">
                {{ range (.Paginate .Site.RegularPages).Pages }}
                    {{ .Render "summary" }}
                {{ end }}
            </div>

            <div class="pagination">
                {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
                {{ end }}
                {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
                {{ end }}

                <span>{{ .Paginator.PageNumber }}</span>
            </div>
        </div>

{{ end }}


