<div class="articles-list-item">
  <a href="{{ .Permalink }}">
    <!-- Should be nested in a tag -->
    <!-- Otherwise "CSS Grid, grid item “height: 100%” not working in Chrome" -->
    <!-- (like in Safari) -->
    <!-- See https://stackoverflow.com/questions/50691765/css-grid-grid-item-height-100-not-working-in-chrome -->
    {{ $defaultAltImage := "Illustration de l'article" }}
    {{ if isset .Params "image" }}
      <img
        class="articles-list-item-img"
        src="{{ .Params.image | relURL }}"
        alt="{{ default $defaultAltImage .Params.altimage }}"
      />
    {{ else }}
      <img
        class="articles-list-item-img"
        src="{{ "images/blog_preview_default.jpg" | relURL }}"
        alt="{{ $defaultAltImage }}"
      />
    {{ end }}
  </a>
  <a class="
      title-1
      articles-list-item-title
      articles-list-item-text
     "
     href="{{ .Permalink }}"
  >
      {{ .Title }}
  </a>
  <p class="articles-list-item-tags articles-list-item-text">
    {{ if isset .Params "tags" }}
      {{ range .Params.tags }}
      <span class="tag">
        <a href="/tags/{{ . | urlize}}">{{ . }}</a>
      </span>
      {{ end }}
    {{ end }}
  </p>
  <a class="
      articles-list-item-readmore
      articles-list-item-text
     "
     href="{{ .Permalink }}"
  >
      {{ i18n "readMore" }}…
  </a>
</div>
