{{ define "main" }}

<article id="articlepage">
  <section id="articlepage-header">
    <!-- Illustration -->
    <span id="articlepage-header-img-container">
      {{ if (isset .Params "image") }}
        <img
          id="articlepage-header-img"
          class="articlepage-img"
          alt="{{ .Params.altimage | default "Illustration de l'article" }}"
          src="{{ .Params.image | relURL }}"
          />
        <!-- Default illustration -->
        {{ else }}
      <img
        id="articlepage-header-img"
        class="articlepage-img"
        alt="Illustration de l'article"
        src="{{ "images/blog_preview_default.jpg" | relURL }}"
        />
        {{ end }}
    </span>

      <div id="articlepage-header-title">
        <h1 class="title article-title">{{ .Title }}</h1>
        <div class="articlepage-header-title-details">
          <ul class="tags-list">
            {{ range .Params.tags }}
              <li class="tag">
                <a href="/tags/{{ . | urlize}}">{{ . }}</a>
              </li>
            {{ end }}
          </ul>
          <div>
            {{ i18n "writtenBy" }}
            {{- with .Params.Author }}
            {{ . }}
            {{- else }}
            {{ .Site.Params.Author }}
            {{- end }}
            <br />
            <time
              class="post-date"
              datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"
              >
              {{ i18n "publishdate" . }}
            </time>
          </div>
        </div>
      </div>
  </section>

  <section id="articlepage-content">
    {{ .Content }}
  </section>

  {{ with .Params.image }}
  <img
    id="articlepage-img-bottom"
    class="articlepage-img"
    alt="Illustration de l'article"
    src="{{ . | relURL }}"
    />
    {{ else }}
    <!-- Default illustration -->
  <img
    id="articlepage-img-bottom"
    class="articlepage-img"
    alt="Illustration de l'article"
    src="{{ "images/blog_preview_default.jpg" | relURL }}"
    />
    {{ end }}

    <section id="articlepage-comments">
      {{ template "_internal/disqus.html" . }}
    </section>
</article>

{{ end }}
