<a href="{{ .Permalink }}" class="blog_index_article">
    {{ with .Params.image }}
        <img alt="Illustration de l'article" src="{{ . | relURL }}" class="blog_index_article__img">
    {{ else }}
        <img alt="Illustration de l'article" src="{{ "images/blog_preview_default.jpg" | relURL }}" class="blog_index_article__img">
    {{ end }}

    <div class="blog_index_article__content">
        <h1 class="blog_index_article__title">{{ .Title }}</h1>


        <p class="blog_index_article__readmore">{{ i18n "readMore" }}…</p>
    </div>
</a>
