<!--  Place the following <script>s near the end of your pages, right before the closing </body> tag, to enable them. jQuery must come first -->
<!-- source: https://getbootstrap.com/docs/4.4/getting-started/introduction/ -->

<script src="{{ "js/jquery-3.3.1.min.js" | relURL }}"></script>

<!-- <script src="{{ "js/aos.js" | relURL }}"></script> -->

<!-- Seems not te be useful -->
<!-- TODO: if confirmed, remove the corresponding asset file -->
<!-- <script src="{{ "js/js.cookie&#45;2.0.4.min.js" | relURL }}"></script> -->

<!-- <script src="{{ "js/bootstrap&#45;4.0.0.min.js" | relURL }}"></script> -->

<script src="{{ "js/scripts.js" | relURL }}"></script>
